[2016-02-09 22:11] silvestreh commented on #192
Not for me.

![captura de pantalla 2016-02-09 a las 19 10 57](https://cloud.githubusercontent.com/assets/1133339/12932293/e4abe8f6-cf60-11e5-9e3b-f255656abe2d.png)

[2016-02-09 22:11] #192 closed

[2016-02-09 22:32] JamesCoyle commented on #192
Any idea what's causing it?

[2016-02-10 09:09] der-Daniel commented on #193
How do I override my icons?
I thought this was done by the functionality of the UI theme?

[2016-02-10 10:34] victorleblais commented on #194
Sorry for that mistake.

Thanks for clarifying the situation. It's pretty weird since I definitely had the colored tab bar before by installing the package using the integrated manager, not by manually cloning and running it in dev mode.

Oh well. Thanks again for your answer and your work !

[2016-02-10 12:08] Nephrited commented on #162
Given that these coloured tilebars are present in the Sublime theme this theme is based off, would it be worth requesting they be built into the theme?

https://i.imgur.com/SesxI1L.png <-- What my Sublime setup looks like, and ideally what I'd like my Atom to be able to mimic.

[2016-02-10 13:50] JamesCoyle commented on #193
Perhaps a separate package would be the way to go (atom-material-icons)? It would be used to provide material design file icons as well as to replace the icons in the settings panel etc. I'm assuming it would reduce startup time of the atom-material-ui package for those that don't want the icons.

[2016-02-10 14:55] silvestreh commented on #194
@victorleblais ah yes, you were running an unpublished version. A couple months ago I thought it was ready for primetime but I was awfully wrong, so I had to pull the update.

[2016-02-10 15:24] JamesCoyle commented on #192
Weird... I remerged with upstream and it's fine now.

[2016-02-10 15:42] silvestreh commented on #192
I remember removing all "icon-related" code from Material UI to avoid these kind of issues… well, except for the right margin in tabs and forcing them to be the same color as the filename text.

[2016-02-10 15:50] silvestreh commented on #193
@JamesCoyle yes, another package would be the best path. There are no official MD icons for file types though. But since the MD guidelines tells us that basically any monochromatic symbol can pass as a MD icon, it wouldn't be difficult to make them.

Or the scope for the icon package could be reduced and only replace those in the settings and tree view (only folders and basic file types like text,

[2016-02-10 15:57] JamesCoyle commented on #193
Its something that could be added to over time really. The existing file icons packages always seem to look kinda messy IMO as none of the icons are really have the same style. I'd be down for reducing the scope and reusing some icons for similar filetypes would actually fit better with the simplified theme of material design. [This](https://materialdesignicons.com/icon/file-xml) for example could

[2016-02-11 07:42] SpikeShape opened #195 "Icons of file types in tabs"
Is there a way of adding the file type icons to the tabs? I got used to it because I used the seti UI theme an it made my workflow a whole lot easier.

[2016-02-11 08:26] SpikeShape commented on #195
I simply missed the option. Sorry about that.

[2016-02-11 08:26] #195 closed

[2016-02-13 15:04] JamesCoyle opened #196 "Rewrite Issue - Perfect Scrollbar Bug (Again :/)"
I made a quick video to show what sometimes happens:
https://www.youtube.com/watch?v=bxBp4iUwDLA

It seems that the error I was getting about the perfect scrollbar is now occurring in the devtools console causing it to be opened every time the error is thrown - which happens to be when the devtools are closed.

[2016-02-15 04:32] silvestreh commented on #196
I'm guessing that's not Atom's tree-view package, is it?

[2016-02-15 09:46] JamesCoyle commented on #196
It happens even when I don't have any tree views. It seems like some code either in the theme or the perfect scrollbar package needs to incorporate some error handling.

[2016-02-17 15:53] silvestreh commented on #196
Care to share which packages you have installed so I can try to reproduce it? Run `apm list --installed` in a terminal.

[2016-02-18 05:20] akatechis opened #197 "Animation for tab selection doesn't trigger in right pane"
Atom version 1.5.3
atom-material-ui version: 0.8.1

1. Split pane to the right.
2. Add multiple tabs to the right pane.
3. Click the tabs in the right pane (they do not show the animation), even though the left pane's tabs properly show the animation.

[2016-02-18 09:40] dkerzig commented on #193
They have a nice set of material file icons, unfortunately not for free. But just for reference: http://www.webalys.com/nova/

[2016-02-18 15:17] silvestreh commented on #193
@dkerzig Those can't be used. Even if I'd buy a license I wouldn't be able to redistribute them. Besides, Google releases [their icons](https://www.google.com/design/icons/) under CC-By and there's a [big library](https://materialdesignicons.com/) of "unofficial" icons (which, I believe, is related to that icon pack you shared)

[2016-02-18 15:57] silvestreh commented on #196
Just removed PS in the latest commit. I'll probably reimplement it in the future… maybe as a separate package.

[2016-02-18 15:57] #196 closed

[2016-02-19 17:58] silvestreh commented on #186
Actually… now that I think about this issue, it can be solved by enabling shadows (or contrast in panels.) Here's what it looks like now:

![captura de pantalla 2016-02-19 a las 14 57 51](https://cloud.githubusercontent.com/assets/1133339/13184181/2c532132-d719-11e5-91a4-129d23262efa.png)

[2016-02-19 18:32] JamesCoyle commented on #193
I'm pretty busy with uni at the moment but I do mean to give this project a go at some point. I'll be using the official google icons along with those provided by the [material design icons](https://materialdesignicons.com/) project.

[2016-02-19 18:35] JamesCoyle commented on #196
As requested and for future reference:
├── atom-material-ui@0.8.1
├── autohide-tree-view@0.25.1
├── editorconfig@1.2.4
├── file-icons@1.6.14
├── flex-tool-bar@0.7.3
├── highlight-line@0.11.1
├── linter@1.11.3
├── linter-cpplint@1.0.1
├── linter-flake8@1.10.1
├── linter-htmlhint@1.0.2
├── linter-jshint@2.0.2
├── linter-php@1.1.8
├── minimap@4.19.0
├── minimap-autohide@0.10.1
├── minimap-bookmarks@0

[2016-02-19 18:56] jerone commented on #193
When implementing, please make this an option, as I've carefully selected my own icons and I don't want being replaced.

[2016-02-19 19:25] JamesCoyle commented on #193
It will be a separate icon package as discussed above. As with the `atom-material-syntax` it will be completely optional. :)

[2016-02-19 22:15] silvestreh commented on #190
@jerone I recently removed the filters. Could you check if this solves your issue?

[2016-02-19 22:28] jerone commented on #190
This no longer seems to be an issue. Thanks!

[2016-02-19 22:28] #190 closed

[2016-02-19 22:33] jerone commented on #188
Please reopen this issue as per https://github.com/silvestreh/atom-material-ui/issues/188#issuecomment-181513997

[2016-02-19 22:36] jerone commented on #188
Ah, this happens when enabling the setting "Compact Tab Bar".

[2016-02-19 22:50] silvestreh commented on #170
@WoodyWoodsta there's an updated [CONTRIBUTING guide](https://github.com/silvestreh/atom-material-ui/blob/master/CONTRIBUTING.md#code-contributions) that you'd probably want to check out. Specifically the Code contributions section that briefly talks about ignoring your own theme settings.

[2016-02-20 14:06] paramsinghvc opened #198 "File icons"
Loved it but file icons in the left sidebar tree would be great! Can it be done plz?

[2016-02-20 14:11] silvestreh commented on #198
You can use the [file-icons](https://atom.io/packages/file-icons) package. The next version of Material UI will do away with material design icons and I'll probably reimplement them as a separate package.

[2016-02-20 14:11] #198 closed

[2016-02-20 16:34] jerone commented on #188
Did some testing and found a few (small) issues:

1. Dev icons overlap buttons, see https://github.com/silvestreh/atom-material-ui/issues/188#issuecomment-181513997
2. Horizontal tool bar has a fixed height, but when there are "too" many buttons they should overflow to a second row. Removing [the](https://github.com/silvestreh/atom-material-ui/blob/master/styles/packages/tool-bar.less#L15) [height

[2016-02-20 18:52] WoodyWoodsta commented on #170
Aha! That looks good, thanks!

[2016-02-20 19:12] silvestreh commented on #188
@jerone thanks! I just pushed fixes for those. The shadows from your third list item are still not perfect as I'm using one of the pseudo elements for the theme's panels shadows, so you'll only get the top shadow.

[2016-02-20 20:45] jerone commented on #188
Awesome! Confirmed all fixed. To bad about the bottom gutter shadow, that's more useful then the upper shadow.

[2016-02-20 21:33] silvestreh commented on #188
I'll see if I can refactor that piece of code to avoid using it :smile:

[2016-02-20 21:52] silvestreh commented on #188
Actually… now that I took a better look at it… I'm not using that pseudo element at all. I was hiding it for some reason… maybe I thought it was some glitch and didn't understand what it was for.

Anyway, it's been fixed now :)

[2016-02-21 00:57] silvestreh commented on #191
How's this for a change?

![captura de pantalla 2016-02-20 a las 21 50 09](https://cloud.githubusercontent.com/assets/1133339/13200185/6e634274-d81c-11e5-8436-c5058476b9d2.png)

[2016-02-21 00:57] #191 closed

[2016-02-21 01:01] #186 closed

[2016-02-21 01:03] silvestreh commented on #197
Nice catch. Thanks!

[2016-02-21 01:17] #197 closed

[2016-02-22 02:39] hng003 opened #199 "aaaaaa"

[2016-02-22 02:44] hng003 commented on #199
sorry

[2016-02-22 04:36] jose4125 opened #200 "the atom theme is broken or doesn't work well"
I update my atom-material-ui but looks really bad, I uninstalled an installed again but doesn't work

[2016-02-22 04:40] jose4125 commented on #200
I had to change my syntax theme to works well

[2016-02-22 04:59] aniforprez opened #201 "Close button doesn't contrast well in Notifications"
Hey man! Your update looks freaking amazing and is the material UI that I always wanted! This is now my theme of choice!

Issue is that the close button on notifications looks a bit too dim IMO. Can't get a screencap cause they disappear too quickly and I don't know how to get a notification to test.

[2016-02-22 05:03] #200 closed

[2016-02-22 07:15] SpikeShape opened #202 "Colors of tab icons gone."
After the recent update I realized that the icons on the tab bar are unified to use the accent color.
But I would like to keep their original color because this helps me to see which file is which since I have a lot of files that have the same name but are a different file type.

Is this feature still there and I am just missing it or did you remove that to make the icons work with the tinted tab

[2016-02-22 08:41] SpikeShape opened #203 "Font weight displayed wrong"
Since the last update my editor font that used to be bold-ish looks like a medium or light font. I am using the font called 'Hack' from the braver/fonts package.
When I select a different theme, the font goes back to normal but when using your material UI, it's rather thin again.

Edit: removed typo

[2016-02-22 08:51] Eldair opened #204 "User interface font size"
Hello,

I tried changing user interface font size, but no matter what value I insert, everything remains the same.

[2016-02-22 08:58] SpikeShape opened #205 "Colors of Git status in tree view"
Since the last update the colors of changed or added files are gone when it is focused. It seems to be overwritten by the primary color.
I liked the previous version more because both color and background of changed or added files changed into green and yellow respectively. I found this coloring method really good and got used to it in a heartbeat.
Is there a way of adding this as an option in you

[2016-02-22 09:00] WoodyWoodsta commented on #205
I agree with this! Now have to focus another file to see the status of the
previous.

On Mon, 22 Feb 2016, 10:58 AM Spike Shape <notifications@github.com> wrote:

[2016-02-22 09:01] c0m3tx commented on #127
This is happening again today after update...

Uncaught TypeError: currentFontSize.toLowerCase is not a function
/home/c0m3tx/.atom/packages/atom-material-ui/lib/config.coffee:143

Already tried resetting configuration, but it didn't work.

[2016-02-22 09:04] Thanood commented on #127
I can confirm this. Just happened after ```atom.config.set('atom-material-ui')```.

[2016-02-22 09:12] c0m3tx commented on #127
Moreover that file doesn't seem to even exist on my computer...

[2016-02-22 09:48] Kais-DkM commented on #204
I can confirm this issue.
Right after the upgrade, user interface font size remains 16pt whatever value I insert.

[2016-02-22 09:57] k4nar commented on #204
I'm also having this issue, even after restarting atom.

[2016-02-22 10:02] risc12 commented on #203
Same problem here, after the new update rendering of fonts is strange.

[2016-02-22 10:24] glasseyes42 opened #206 "Tree view spacing"
Have a large gap between the icon and text... Cannot seem to get rid of it no matter what I try in the settings, resetting workspaces, etc.

[2016-02-22 11:13] SpikeShape commented on #206
I second this. It seems a bit too much.
One could try to reduce it by setting custom styles without having to touch the theme itself, though.

[2016-02-22 11:49] stryju opened #207 "blurry icons and file-tree spacing"
after the latest update, file-tree (and tab) the file-icons are blurry and the spacing is way too big (even in "compact" mode)

![screen shot 2016-02-22 at 11 47 55 am](https://cloud.githubusercontent.com/assets/25367/13217423/3080a138-d95a-11e5-883d-30ad64c6aab9.png)

[2016-02-22 12:05] FrontDevs commented on #204
+1

[2016-02-22 12:39] bdemirel commented on #204
Same here. Mine even changed the settings to default after the update.

[2016-02-22 12:47] haitamattar commented on #202
view the code of atom material ui
open the folder "styles" and open "tabs.less"
at the end of the less file comment or remove "color: @accent-text-color !important; "
`.has-custom-icons .tab-bar:not([data-reactid]) .tab {
    .title[data-path] {
        &::before {
            // Override icon color in icon-packages as it can hurt readability
            // with some @base-color.
            color

[2016-02-22 12:55] SpikeShape commented on #202
Fair enough but thats not how it's supposed to be done since this change is gone when another update arrives. So although your solution works perfectly fine it's more of a workaround rather than a fix.

But I will use your solution until @silvestreh can give any feedback on this matter.
Thank you very much!

[2016-02-22 13:05] haitamattar commented on #202
yes you are right, the new update is a mess. Like why should a theme change my editor font and icon colors which is an other extension.

[2016-02-22 13:09] SpikeShape commented on #202
Thats not what I wanted to say. I meant that I don't want to mess around with the original theme files since these changes are gone when an update is pushed.

But sadly I can't argue with your statement... I assume it was just too much of an overhaul of the whole theme so I assume things got missing.

I guess patience will do best. Until then a workaround has to do the trick.

[2016-02-22 13:33] glasseyes42 commented on #206
[code]

[2016-02-22 14:01] silvestreh commented on #127
I'm not exactly sure what the problem is, but looks like it might be related to cache. Try deleting `~/.atom/compile-cache` and restarting Atom. Also open your `~/config.cson` and remove all references to `atom-material-ui`.

BTW, you can change UI font size using a text input in the theme's settings.

[2016-02-22 14:08] Thanood commented on #127
That's what's causing the error for me. :smile:
I'll try clearing the cache.

[2016-02-22 14:08] silvestreh commented on #203
Fonts are antialiased by default. If you wish to not use antialiasing open your personal stylesheets located in `~/.atom/styles.less` and paste the following:

[code]

This `subpixel-antialiased` mode is the default in webkit, but it renders fonts in an "incorrect" way as light fonts often look regular, and regular fonts look semi-bold (which, it seems to be the way you guys want it to be)

[2016-02-22 14:08] #203 closed

[2016-02-22 14:10] SpikeShape commented on #203
Thank you for the feedback.
So that means that all themes are doing it wrong at the moment?

[2016-02-22 14:11] silvestreh commented on #207
There are no styles changing the icons in the latest release (other than margins.) The spacing follows the material design spec.

![](https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0B6Okdz75tqQsYzdVRGozRHVYbms/components_lists_keylines1.png)

[2016-02-22 14:15] silvestreh commented on #206
Yes, the spacing is *almost* in line with the design spec. It should be more spacious, but I still made it a little more compact than the spec.

![](https://camo.githubusercontent.com/6a1bc710dd1bdb557115878580e9eade1ba252e2/68747470733a2f2f6d6174657269616c2d64657369676e2e73746f726167652e676f6f676c65617069732e636f6d2f7075626c6973682f6d6174657269616c5f765f342f6d6174657269616c5f6578745f7075626c69736

[2016-02-22 14:15] #206 closed

[2016-02-22 14:23] #204 closed

[2016-02-22 14:25] silvestreh commented on #200
Sounds like a cache issue. Remove the `~/.atom/compile-cache` directory and restart Atom.

[2016-02-22 14:29] WoodyWoodsta commented on #207
As far as the spacing is concerned, the user has opted for a compact view,
thus the margin on the label text should be reduced proportionally to the
change in line-height.

[2016-02-22 14:40] silvestreh commented on #201
You can paste this snippet in the dev console:

[code]

[2016-02-22 14:41] silvestreh commented on #199
Haha! No problem

[2016-02-22 14:41] #199 closed

[2016-02-22 14:43] silvestreh commented on #207
@WoodyWoodsta sure, it could work that way… actually is a pretty good idea. I'll implement it for the next update.

[2016-02-22 14:46] silvestreh commented on #203
No, not themes. Chrome is doing it wrong. Actually, it's not about being right or wrong, but fonts look closer to what they should look like if you antialias them using the `antialiased` value, like this:

[code]

[2016-02-22 15:01] silvestreh commented on #202
@haitamattar I'm not changing your syntax font in this theme. I am, however, changing the font smoothing method.

The problem of not overriding the icon color is that if you set a `@base-color` similar to, say, the color of the coffee script icon, then I'd have lots of issues about some file type icon not being visible while others are.

I agree that overriding another package's setting is not opt

[2016-02-22 15:09] SpikeShape commented on #202
I totally get that. Thats why I would suggest an option in the settings menu to either set the color of the icons or keep its original color.
Since I personally would like to avoid the tinted tabs I would leave the colors of the icons as they are while I others, who choose to opt in to having tinted tabs, might want to unify their colors.

[2016-02-22 15:20] WoodyWoodsta commented on #207
I use MD pretty extensively in the front end work that I do - I've found
its a brilliant design framework but very ideal. Very suited to small
scale, simple apps. Atom isn't as small scale, thus bending the odd length
to make it user friendly is a good thing, IMO! Looking good though 👍

[2016-02-22 15:32] #202 closed

[2016-02-22 15:32] #205 closed

[2016-02-22 15:35] #207 closed

[2016-02-22 15:39] #201 closed

[2016-02-22 15:45] hatched opened #208 "Everything is quite large with 1.1.0 compared to 0.8.1"
It appears that there were some changes with 1.1.0 that makes the UI very large. I'm also not able to change the font size any lower than 10 to try and reduce it back down to its 0.8.1 size. Was this intentional, or can we get the previous sizes back?

[2016-02-22 15:55] davidpmccormick opened #209 "Reinstate tab icon colours"
Tab icons are now all white – please add an option to keep them coloured.

[2016-02-22 15:56] silvestreh commented on #209
update to 1.1.1 :smile:

[2016-02-22 15:56] #209 closed

[2016-02-22 15:57] silvestreh commented on #208
Why would you want to use anything lower than 10? Here's what 10 look like:

![captura de pantalla 2016-02-22 a las 12 57 09](https://cloud.githubusercontent.com/assets/1133339/13223639/d890b8f0-d963-11e5-8c13-6047fcc99488.png)

Also, update to 1.1.1 where the font size option was fixed and now it actually works.

[2016-02-22 15:57] #208 closed

[2016-02-22 15:58] davidpmccormick commented on #209
Nice. Ta!

[2016-02-22 16:14] hatched commented on #208
Looks like 1.1.1 fixed it :) thanks!

[2016-02-22 17:49] sethxd commented on #127
I had the same problem today and that fix worked for me too, thanks!

[2016-02-22 19:19] jerone commented on #207
:+1: Could this also be extended to the expand/collapse arrows in the tree?

[2016-02-22 19:28] silvestreh commented on #207
@jerone sure thing!

[2016-02-22 19:29] silvestreh commented on #196
BTW, PS won't be needed anymore since I refactored the "tree-view blend with tab-bar" feature. :smile:

[2016-02-22 20:01] ramirezd42 opened #210 "Ui Slim Scrollbar Option doesn't seem to do anything"
Version 1.1.2: The Ui Slim Scrollbar Option doesn't seem to do anything when I toggle it and restart atom. Maybe I'm just not understanding what it's supposed to do. I was hoping maybe it would give me the old scrollbar back, I preferred that one personally.

[2016-02-22 20:24] silvestreh commented on #210
You have a cache problem. The slim scrollbar option is no longer available as they're spec-compliant now.

Remove the `~/.atom/compile-cache/` directory and restart Atom. Also, open your `~/.atom/config.cson` file and remove all preferences in `atom-material-ui` so it looks like:

[code]

Or, instead of messing with the `config.cson` file, open the dev console and type `atom.config.set("atom-mater

[2016-02-22 20:24] #210 closed

[2016-02-22 20:47] ramirezd42 commented on #210
Great. Thanks for the help!

[2016-02-22 20:53] am17torres opened #211 "Roboto Font doesn't appear to be working after 1.1.2 update"
I recently updated to atom-material-ui 1.1.2 and I noticed the Robot Font doesn't seem to be working anymore.

Nothing changes when I check the boxes (which I believe it used to do on the fly). I've also tried restarting atom but that didn't make a difference.

Here is a photo for reference.

<img width="1892" alt="screen shot 2016-02-22 at 3 50 01 pm" src="https://cloud.githubusercontent.com/asse

[2016-02-22 21:05] silvestreh commented on #211
@am17torres Roboto Mono is no longer included. Those options were removed, but you're still seeing them because of a cache issue with Atom.

Open the dev console and run this: `atom.config.set("atom-material-ui");`. This will reset your theme's settings. Also, remove the ~/.atom/compile-cache/ directory and restart Atom.

If those options aren't going away, then open your ~/.atom/config.cson file

[2016-02-22 21:05] #211 closed

[2016-02-22 21:16] rjv opened #212 "Specified User interface font size does not persist across window reloads"
Setting the **User interface font size** does not persist across window reloads.

**Reproduction Steps:**

1. Navigate to _Atom Material UI_ settings and change **User interface font size** from the default _16_ to _14_.
2. Reload the editor window.

**Expected behavior:**

The smaller UI font size persists.

**Observed behavior:**

The UI font appears as if it were set back to the default despite

[2016-02-22 21:18] jamby commented on #212
Can confirm, this is also happening with me too.

[2016-02-22 21:24] jamby opened #213 "Custom font for Theme?"
Was wondering if there was a way to set a custom font for the Theme, like how you can set a custom font for the actual editor. Not a huge fan of Roboto. Thanks.

[2016-02-22 22:11] veegee2 opened #214 "evrything is quite big"
After morning update to, is everything bigger than before. When i change user intarface font size in theme i got some error. Now i update atom to version 1.5.3 and atom-material-ui to version 1.1.2 but the problem persist.

[2016-02-23 04:05] silvestreh commented on #214
I don't know what "some error" might be. Please provide more information. Check the [CONTRIBUTING file](https://github.com/silvestreh/atom-material-ui/blob/master/CONTRIBUTING.md) to learn how to fill a proper bug report.

[2016-02-23 04:06] silvestreh commented on #213
Yes, using your personal stylesheet located in `~/.atom/styles.less`.

[code]

[2016-02-23 04:06] #213 closed

[2016-02-23 04:11] #212 closed

[2016-02-23 04:11] silvestreh commented on #212
Thanks! Just pushed a fix. I'll publish an update ASAP.

[2016-02-23 04:54] seanmars opened #215 "scrollbar is too small in tree view"
The scrollbar in tree view is too difficult to drag it. Always drag code or folder

[2016-02-23 05:50] aniforprez commented on #201
Yes, it looks much better now. Thanks! Again, great theme!

[2016-02-23 06:55] aniforprez opened #216 "Git file changed indicator not showing on multiple files with the same name"
When opening 2 or more files with the same name, if any of them are changed, the git diff indicator does not show up

**Reproduction Steps:**

1. Open a file in a git repo and add changes and save. Indicator shows up.
2. Open another file with the same name. This adds the folder of each file to the tab name
3. File changed indicator disappears

**Expected behavior:**

The file changed indicator sh

[2016-02-23 07:12] SpikeShape commented on #216
Is this even part of this theme? I can't find any option to switch on these dots to represent the git status.

[2016-02-23 07:20] SpikeShape opened #217 "Git status colors on tree view enhancement"
Sorry about the weird title of this issue. I didn't know how to call it.

What I am talking about is the git status color in the tree view, when you save a file. It doesn't show them immediately. You have to unfocus and focus it to make it appear.
Edit: I just realized that git status coloring does not apply when the tree is not focused while your file is the marked file.

Additionally when you fo

[2016-02-23 07:34] aniforprez commented on #216
It's a setting in the default Atom Tabs package. It gives you the option to 'Enable VCS Coloring'.

[2016-02-23 07:44] SpikeShape commented on #216
I totally missed that. Thank you for that!

[2016-02-23 07:57] xDae commented on #214
+1

[2016-02-23 08:18] veegee2 commented on #214
I am sorry for that. After reinstall is the size working.

[2016-02-23 08:18] #214 closed

[2016-02-23 10:16] davidpmccormick opened #218 "Add option to change font-smoothing"
'antialiased' is less easy to read than 'subpixel-antialiased' (or 'auto').

[2016-02-23 11:02] James-Byrne opened #219 "Generate Accent Color option causes atom editor to whitescreen"
Just installed a new atom-material update which included the new features for colouring the top bar and generating an accent colour based of chosen colours. After turning on the Generate Accent Colours option Atom Material crashed with a ream of errors showing within the editor. I thought nothing of it and restarted atom to fix the issue. Atom now displays as a white screen with the dev tools open

[2016-02-23 11:10] James-Byrne commented on #219
Uninstalling atom-material fixes the issue (allows use of atom again) but re-installing presents the error again.

[2016-02-23 12:15] silvestreh commented on #219
This is a bug with `settings-view` where it sometimes returns an invalid HEX color. There's nothing I can do about it, except filing a bug report with them ([which I already did](https://github.com/atom/settings-view/issues/712)).

If you'd like, you can run this in a dev console to reset the colors back to default

[code]

Also, try to avoid picking very dark colors as those are the ones that see

[2016-02-23 12:20] silvestreh commented on #218
`antialiased` renders fonts closer to what they should look like, otherwise they look semi bold. You can open your personal stylesheet located in `~/.atom/styles.less` and paste this:

[code]

[2016-02-23 12:20] #218 closed

[2016-02-23 12:24] James-Byrne commented on #219
That fixed the issue for me, Ill avoid using it for now and keep an eye on your issue. Cheers

[2016-02-23 12:24] #219 closed

[2016-02-23 12:27] davidpmccormick commented on #218
Not really closer to what they 'should' look like – just thinner (and more washed out) without having access to the three individual subpixels in every pixel of the screen to smooth out and sharpen the edges of the font. Thanks for the stylesheet fix, though – I've gone with that.

[2016-02-23 12:39] silvestreh commented on #219
Yeah, sorry about that. I'm refactoring this bit of code to better handle this problem. Looks like it fails with pink-ish colors most of the time.

[2016-02-23 13:23] silvestreh commented on #215
Here's a quick fix for you. Open your user stylesheet located in `~/.atom/styles.less` and paste this:

[code]

[2016-02-23 13:23] #215 closed

[2016-02-23 13:36] silvestreh commented on #216
Looks like this is a bug with the `tab-bar` package.

[2016-02-23 13:51] stryju commented on #207
great, thanks!

[2016-02-23 13:54] #217 closed

[2016-02-23 13:58] silvestreh commented on #216
Nope, it's a bug within this theme! :smile:

[2016-02-23 14:07] #216 closed

[2016-02-23 14:29] iamjstates opened #220 "Error with ui"
I'm using Atom 1.5.3 and the Beta release. Every time I install this package I get the following error when loading a new window - or reloading the application.
`Error
    at new Parser (/Applications/Misc/Editors/Atom/Atom.app/Contents/Resources/app.asar/node_modules/less-cache/node_modules/less/lib/less/parser.js:333:27)
    at LessCache.module.exports.LessCache.parseLess (/Applications/Misc/Edi

[2016-02-23 14:42] silvestreh commented on #220
There's no beta. It's been released two days ago. I recommend reinstalling from APM (or if you want to keep using the development version, just pull from the repo).

That said, the error you're getting is a bug with settings-view where it sometimes returns an invalid HEX color. There's nothing I can do about it, except filing a bug report with them ([which I already did](https://github.com/atom/se

[2016-02-23 14:42] #220 closed

[2016-02-23 14:45] silvestreh commented on #220
BTW, I refactored the code to avoid saving a bad HEX color and, when an invalid HEX is generated, revert to previous value. That way you won't get the same behavior and a nice notification will show letting you know that `settings-view` returned an invalid color.

[2016-02-23 16:32] SpikeShape commented on #217
Thanks a lot for the update. Yet, the currently selected file is still not marked as changed when the tree view isn't focused.
Unfocused tree:
![bildschirmfoto 2016-02-23 um 17 30 22](https://cloud.githubusercontent.com/assets/7056069/13258368/31127da2-da53-11e5-8049-35dfd3e1b6f1.png)

Focused tree:
![bildschirmfoto 2016-02-23 um 17 31 28](https://cloud.githubusercontent.com/assets/7056069/1325841

[2016-02-23 16:41] silvestreh commented on #217
Yes, that's intentional. Otherwise there would be no way to know if the tree view is focused.

[2016-02-23 16:45] SpikeShape commented on #217
Fair point...
Could we somehow show that the file, that is currently marked, has been changed / added since the last stage e. g. changing the file name color to yellow / green respectively?

[2016-02-23 18:03] silvestreh commented on #217
I'll think of something :smile:

[2016-02-23 19:19] SK83RJOSH opened #221 "Tabs too small"
Tabs are generally too small (width-wise) after this most recent update. The following screenshot illustrates this problem fairly well, as I don't think a default atom feature / tab title should be getting cut off.

![evrzr1ax](https://cloud.githubusercontent.com/assets/1371787/13263648/77a53554-da38-11e5-8065-446478d9ed55.png)

[2016-02-23 19:22] haveanicedavid opened #222 "Roboto Mono font not working"
The toggle box to override default fonts and use Roboto Mono no longer works after recent update

[2016-02-23 19:24] SK83RJOSH commented on #221
Also I understand this is entirely a matter of preference, but I think the width / margin should be bumped up just a tad so this doesn't occur for things like Project Find.

[2016-02-23 19:25] SK83RJOSH commented on #222
Duplicate of https://github.com/silvestreh/atom-material-ui/issues/211

[2016-02-23 19:29] silvestreh commented on #221
You can edit your own stylesheet located in `~/.atom/styles.less` and give them whatever width you're comfortable with.

[code]

[2016-02-23 19:29] #221 closed

[2016-02-23 19:30] SK83RJOSH opened #223 "Non-integer fontSize values have issues with the treeView"
When there's a rather large amount of content in the tree view (enough for there to be overflow) you can no longer interact with the tree view. Here's a short video illustrating the problem:

![example](https://cloud.githubusercontent.com/assets/1371787/13263957/f27e0a8e-da39-11e5-937c-088866df6a59.gif)

[2016-02-23 19:33] SK83RJOSH commented on #223
This occurs on Atom 1.6.0-beta5.

Additional information:

Items in the tree view do appear to get selected, but the scroll position gets randomly reset and the file preview is never opened.

[2016-02-23 19:45] #222 closed

[2016-02-23 22:47] silvestreh commented on #223
I can't reproduce it… Please share more details. Check the CONTRIBUTING file.

[2016-02-23 23:49] SK83RJOSH commented on #223
When "blend tree view" is enabled and the current project has a large number of files (and causes the tree view to y-overflow) you are unable to click anything while the tree view is scrolled down.

**Reproduction Steps:**

1. Create a large project with many files and directories / Open a system directory with many files.
2. Enable Blend tree view.
3. Scroll down to the bottom of the tree view.
4

[2016-02-24 00:28] silvestreh commented on #223
Still can't reproduce it:

![amu](https://cloud.githubusercontent.com/assets/1133339/13271531/55021b5c-da74-11e5-90a0-4072d90562eb.gif)

Does the dev console output anything useful?

[2016-02-24 00:55] SK83RJOSH commented on #223
Nothing useful unfortunately, I've also tried disabling quite a few packages manually and played around with my tree-view / core settings to no avail. :disappointed:

[2016-02-24 01:07] SK83RJOSH commented on #223
Aha, found out what it was while looking into an unrelated issue: Certain user interface font-sizes cause the sidebar to break; an example would be 13.5 (which I was using because 14 causes the settings icon to clip  ![pjey4rth](https://cloud.githubusercontent.com/assets/1371787/13272304/0cd158b2-da69-11e5-9eb2-56e69facdf1e.png))

[2016-02-24 03:19] seanmars commented on #215
So good! thanks!

[2016-02-24 13:43] silvestreh commented on #223
Got it… I can only reproduce it on Atom 1.6.0-beta5 though…

[2016-02-24 13:54] SK83RJOSH commented on #223
I'd say that this is low priority then, could be fixed with a future update and occurs under a pretty obscure circumstance for which there is a workaround (just don't use odd font-sizes). :smile:

[2016-02-24 14:27] silvestreh commented on #223
Yeah, or probably just parse that value to ensure it's always an integer while I work on an actual fix :smile:

[2016-02-24 16:33] sajadabedi opened #224 "Font Ui messing!"
In the new version of theme i have some issue with ui font, It seemed missing!
why?
![image](https://cloud.githubusercontent.com/assets/5726597/13292610/ac6a2e26-db31-11e5-8a7e-71d4ac00bc64.png)

[2016-02-24 21:05] James-Byrne opened #225 "Terminal Plus not working within Atom Material UI"
[Short description of problem here]

Since the latest update was I noticed that the terminal plus package no longer works, it still works with other UI themes that I install

**Reproduction Steps:**

1. Install the terminal plus package
2. Install the atom-material-ui package
3. Try to open a new terminal pane

**Expected behavior:**
A terminal pane should open, displaying the terminal prompt.

**

[2016-02-24 21:12] silvestreh commented on #224
There's not setting for UI font anymore. It's Roboto by default because, you know, it's material design after all :smile:

You can override it in your personal stylesheet located in `~/.atom/styles.less` with this snippet:

[code]

[2016-02-24 21:12] #224 closed

[2016-02-24 21:13] jerone opened #226 "atom-json-editor package"
The [atom-json-editor package](https://atom.io/packages/atom-json-editor) could do with some styling :smile:

[2016-02-25 03:44] jesseminn opened #227 "search result page layout problem"
![2016-02-24 6 44 20](https://cloud.githubusercontent.com/assets/14268416/13309051/078d0e9a-dbb4-11e5-89e6-4f9858e47e74.png)

1. i know there's an option to make scrollbar thinner or not, but it doesn't work for me. Is it possible to make scroll only visible when you start scrolling?

2. the layout of project find result page looks weird. Because of the line height and font size, i could only see

[2016-02-25 06:23] StefanDimov opened #228 "`merge-conflicts` package is with broken styles"
This is with the Material Theme:

![bug-layout](https://cloud.githubusercontent.com/assets/4311659/13311662/ec390baa-db98-11e5-9919-300df1b2350d.PNG)

This is when I switch to Atom Dark:

![good-one](https://cloud.githubusercontent.com/assets/4311659/13311666/fc364fae-db98-11e5-8ba2-9cde2cfda602.PNG)

The problematic elements are put on top of `<<<<<<< HEAD`, `=======` and '>>>>>>> branch'. They a

[2016-02-25 06:56] leofle opened #229 "Tabs disappear after they fill the viewport"
When there is enough tabs to fill the viewport all the extra tabs disappear to the right, out of sight.
![screen shot 2016-02-25 at 8 54 36 am](https://cloud.githubusercontent.com/assets/2674606/13312233/973e437c-db9d-11e5-8751-e90b6b48243a.png)

[2016-02-25 14:32] silvestreh commented on #229
Yeah, you should scroll your tab bar to get to the others.

[2016-02-25 14:32] #229 closed

[2016-02-25 14:35] silvestreh commented on #227
Those options were removed, but you're still seeing them because of a cache issue with Atom.

Open the dev console and run this: `atom.config.set("atom-material-ui");`. This will reset your theme's settings. Also, remove the `~/.atom/compile-cache/` directory and restart Atom.

If those options aren't going away, then open your `~/.atom/config.cson` file and remove all preferences in `atom-materia

[2016-02-25 15:15] jesseminn commented on #227
it fix everything besides #2 the layout problem of search result page, or it's not because material theme?

[2016-02-25 15:35] silvestreh commented on #227
Ah yes… that's not exactly a bug, but it's something can be improved. I'll take a look at it when I get some free time :smile:

[2016-02-25 17:38] benedictleejh commented on #225
I'd like to add that I'm also facing the same problem on Linux. Funnily enough, it works on OS X 10.10 Yosemite for me.

**Atom version**: 1.5.3
**OS and version**: [Netrunner Rolling](http://www.netrunner.com/)

**Installed Packages**:
├── atom-beautify@0.28.22
├── atom-material-ui@1.2.0
├── file-icons@1.6.15
├── gitignore-snippets@0.2.5
├── gl-light-syntax@2.2.0
├── language-dots@0.0.4
├── langu

[2016-02-27 08:17] jamby opened #230 "Ability to disable or move the git status icon in tabs"
Is there any way to either disable with the git status icon for files in the tabs bar or even moving it over to the right side (to be next to the close button)?

[2016-02-27 16:44] dkerzig commented on #191
Awesome, you made my day @silvestreh. I really appreciate your commitment to make it a joy for others to do their jobs!
Just one more thing, I'm using this panel always orientated to the right instead of bottom (you can change this in the settings) and with that the top-bar could have the same size like the tab-bar next to it (maybe it's because I'm using small sized tabs with Material-UI). And th

[2016-02-28 03:37] silvestreh commented on #230
Yeah, the option to disable it is inside the tabs package.

[2016-02-28 03:37] silvestreh commented on #230
Also, moving it to the right might be confusing as there's already an icon indicating wether the file has unsaved changes.

[2016-02-28 04:53] jamby commented on #230
So I just put some css in my `styles.less` that would just move it in between the space of the icon and the file name.

[code]

Seems to do the trick.

[2016-02-28 14:35] webcraftniray commented on #186
:+1:

[2016-02-28 22:09] jerone commented on #217
What about yellow font color when the tree-view is unfocused?

| Tree-view focused | Tree-view unfocused | Solution to show git status on unfocused tree-view |
| :--- | :----: | ----: |
| ![focused](https://cloud.githubusercontent.com/assets/55841/13382240/03fd59f6-de70-11e5-9313-0c00c53599d6.png) | ![unfocused](https://cloud.githubusercontent.com/assets/55841/13382242/0db4cd62-de70-11e5-916d-f94c

[2016-02-28 22:23] jerone commented on #217
Adding the following code to my `styles.less` solves it for me:

[code]

Key is `.tree-view:not(:focus)` in front of the selectors.

[2016-02-29 05:51] SpikeShape commented on #217
That's what I was thinking about, too. Thanks for the visualization!

On Mon, Feb 29, 2016, 12:40 AM Jeroen van Warmerdam <
notifications@github.com> wrote:

[2016-02-29 20:44] jamby opened #231 "Gutter line and editor line gradually get off leveled"
So I noticed this as I was writing some React code, and saw that the deeper I got into my `<div>`'s the more off level both my gutter line and editor line became, and therefore made the cursor and highlight above where it should be (line going into the code instead of under it).

This is what it looks like:

<img width="335" alt="screen shot 2016-02-29 at 3 33 40 pm" src="https://cloud.githubuserc

[2016-03-01 00:59] silvestreh commented on #231
that's weird… which packages are you using?

[2016-03-01 04:55] jamby commented on #231
[code]

[2016-03-01 15:23] mattandrews commented on #230
Would be great to be able to disable this – at the moment I'm finding it really confusing (is that indicating unsaved modifications, or VCS changes?).

[2016-03-01 15:27] jamby commented on #230
@mattandrews You can disable it. Go to your Atom tabs package, and disable VCS.

[2016-03-01 15:34] mattandrews commented on #230
@jamby amazing, didn't realise this was controlled there. Thank you!

[2016-03-01 15:50] silvestreh commented on #230
I'm closing this as this functionality is already available within the tabs package (disable VCS coloring) and it's not part of this theme.

[2016-03-01 15:50] #230 closed

[2016-03-01 19:44] soul-wish commented on #228
I have the same issue with material theme. Some popups are not styled properly (it seems like all styling is missing for *Git Plus* package, for example). The same problem with *merge-conflicts* package. Don't sure what t can be.. Any help would be appreciated.
Here is a screenshot of *Git Plus* popup window:
![screen-material](https://cloud.githubusercontent.com/assets/1968098/13439512/9732190a-d

[2016-03-01 20:27] cumanacr opened #232 "Find and Replace Highlight colors"
First, hi, awesome theme you make.

I updated today to version 1.2.0, and notice that the white border that before highlight the words was replace with a teal tone.

It's so subtle that is difficult to know where the words are.

I suggest a color picker to the border color on highlight words with "Find and Replace" ctrl+f

Regards,

[2016-03-01 21:04] ssorallen opened #233 "`display: inline-block;` on `.btn` wins over Bootstrap's `.btn-block`"
Nuclide uses Bootstrap's `btn-block` class, and it worked fine in atom-material-ui v1.1.0. However, v1.2.0 added `display: inline-block;` to the `.btn` class. Because theme stylesheets are included after Bootstrap stylesheets, the `.btn-block` class has become a no-op because it is always loses on document order specificity.

The change happened in commit https://github.com/silvestreh/atom-materia

[2016-03-02 15:26] jamby commented on #231
By the way, the theme and syntax I'm using are Atom Material UI and Atom Material Syntax Dark (since I am posting it here).

[2016-03-03 06:51] treezrppl2 opened #235 "blurry icons in tree view"
![screen shot 2016-03-02 at 10 29 36](https://cloud.githubusercontent.com/assets/10055135/13486838/58a1dada-e0c9-11e5-82f0-175164197536.png)
similar to #207 and #82 the tree-view icons are blurry again.
it looks like `.icon { webkit-font-smoothing: none; }` works as a hot fix, but I noticed that it's falling off the pixel grid because of sub-pixel sizing of the whole side-bar. It's likely the root

[2016-03-03 10:13] VincentGuinaudeau opened #236 "z-index modification to tab-bar conflict with the autohide-tree-view package"
see https://github.com/olmokramer/atom-autohide-tree-view/issues/65

I open this issue to know if the modification on the z-index of the tab is really useful to this theme, because I just removed it and it apparently fixed my problem.

[2016-03-03 11:16] cuiweiqiang opened #237 "When I open Atom, it pop up a message: "there were breaking changes and material ui had to reset its settings""
![image](https://cloud.githubusercontent.com/assets/863696/13492641/430cf8de-e174-11e5-9862-fd7d25f966a4.png)

How can I solve it? Everytime open it and show message.
Atom version: 1.5.4

[2016-03-03 14:14] dkerzig commented on #191
I also noticed another thing, unfortunately I am not able to scroll until the last line :/

![build in atom](https://cloud.githubusercontent.com/assets/3930150/13496821/a27e2c2e-e152-11e5-888a-8939f4d7bb13.png)

Thanks for your patience, Dennis!

[2016-03-03 14:35] astromac opened #238 "Installing Material UI breaks Atom"
Installing Material UI breaks Atom on startup. The following error message is displayed in the console:
[code]

Packages I have installed:
[code]

[2016-03-03 15:49] silvestreh commented on #238
Looks like it's failing to compile a LESS… most likely your Material UI settings in `styles/custom.less`.

I have a couple options for you…

1. Empty the contents of `atom-material-ui/styles/custom.less`
2. Run `atom.config.set('atom-material-ui')` to reset the theme's options

Check if that works :smile:

[2016-03-03 21:50] mlilley opened #239 "Forcing ui to dark?"
Various "dark" syntax themes cause materia-ui to switch to "light" (when I *think* it should be dark).

For example, material-ui switches to light when attempting to use any of the following syntax themes:
- https://github.com/ssteinker/atom-twilight
- https://github.com/cannikin/twilight-syntax
- https://atom.io/themes/twilight-syntax-spacegray-eighties
- https://atom.io/themes/twilight-syntax-sp

[2016-03-04 21:00] noseglid opened #240 "Atom Build latest version"
I am the maintainer of [atom-build](https://github.com/noseglid/atom-build). I'm making some changes to the layout in the upcoming version which unfortunately breaks with material UI. Do you want to work together to get a nice design for it? The code is available on the master branch (but it is not yet released).

[2016-03-05 22:58] silvestreh commented on #239
This is an issue with the syntax themes. They don't expose their syntax-variables. You can take a look at this PR I opened for [spacegray-base16-ocean-dark](https://github.com/carloe/spacegray-base16-ocean-dark/pull/13) fixing this problem.

[2016-03-05 22:58] #239 closed

[2016-03-05 22:59] silvestreh commented on #238
Can you confirm if this fixed your issue?

[2016-03-05 23:02] silvestreh commented on #237
That's odd… A key should've been saved to your localStorage. Open a dev console and type this:

[code]

That should solve your problem. I'll try to check why it didn't set this localStorage key for you.

[2016-03-05 23:07] silvestreh commented on #236
Thanks! … The elevated zIndex value is there to enable the tab-bar to cast shadows on top of the text editor. I agree 2000 might be too much :grin:

I'll post an update soon fixing this an a couple other issues.

[2016-03-05 23:08] #236 closed

[2016-03-05 23:12] mlilley commented on #239
Excellent, thanks for your help.

[2016-03-05 23:15] silvestreh commented on #235
Did you change the **User interface font size** setting within `atom-material-ui`? Because that would, obviously, change the size of everything in the viewport. The icons are designed to look best at certain size, even if they are vector icons. When you change that size they no longer align to a pixel grid. That's what makes them look blurry.

The only solution for this is to craft icons in every

[2016-03-05 23:18] silvestreh commented on #233
I don't use Nuclide, but I have installed (yet disabled) just in case these issues pop up. Would you be willing to show me how to reproduce this? I'm thinking a small change to the buttons CSS selector might do the trick.

[2016-03-05 23:20] silvestreh commented on #232
Hi @cumanacr,

The highlight color is determined by the base color you picked in the theme's settings. Could you share a screenshot so I can take a better look?

[2016-03-06 12:31] D-side commented on #237
Reporting in from Windows 10. Same issue here. Worse, `localStorage` seems to not persist! I've tried adding my own key-value to it, it was gone after a restart.

Also, I'm seeing this in the Dev Tools:

    Error setting item in object: Validation failed at atom-material-ui, undefined must be an object

[2016-03-06 23:10] dkerzig commented on #240
+1 for seeing my two most beloved plugins working together

Just referencing #191

[2016-03-07 02:18] ssorallen commented on #233
You can reproduce this by inspecting a button with `class="btn"` in developer mode and adding the `btn-block` class to it. The [`.btn` declaration](https://github.com/silvestreh/atom-material-ui/blob/d5b025a770f41bc1e67caf17eb52de2600767082/styles/buttons.less#L5) in 'atom-material-ui' declares `display: inline-block;` and wins over the `.btn-block` class in Bootstrap.

Added to the settings view

[2016-03-07 02:21] ssorallen commented on #233
[`.btn`](https://github.com/twbs/bootstrap/blob/v3.3.4/less/buttons.less#L10) is already declared as `display: inline-block;` in Bootstrap v3.3.4, which is the current version that gets installed with Atom. I believe you can safely remove that line from 'atom-material-ui' and be fine.

[2016-03-07 02:52] cuiweiqiang commented on #237
@silvestreh I type this,  then it seems not use. And the editor theme change to default. I type this:
`localStorage.setItem('atom-material-ui:configUpdated', false);`
the material theme was disappeared, I reinstall the theme, it works!

[2016-03-07 07:21] noseglid commented on #240
@dkerzig I saw that issue and I'd be damned if we're gonna let it happen again! :)

[2016-03-07 13:55] silvestreh commented on #237
I removed the piece of code that was checking wether the configuration was updated or not :smile:

[2016-03-07 13:55] #237 closed

[2016-03-07 15:03] #233 closed

[2016-03-07 15:04] silvestreh commented on #227
Fixed in d55620a5e69a6c090609d7de430294e766de1028 :smile:

[2016-03-07 15:04] #227 closed

[2016-03-07 15:06] #235 closed

[2016-03-07 15:06] #238 closed

[2016-03-07 20:35] #232 closed

[2016-03-07 20:46] silvestreh commented on #240
@noseglid do your changes work well with other themes? I mean, do you want me to do something specifically for material ui or a good default for every other theme?

[2016-03-08 01:11] cumanacr commented on #232
Hi @silvestreh,

Here is the screenshot, looking for the word "pea" as you can see at line 3 there is a border white result, which is the one I am currently selecting, the others have teal borders, before the update, all results have white borders and teal color inside and it was easier to identify.

Sorry for the late response, I hope you can check this out anyway.

Regards

![atom-find](https://

[2016-03-08 02:40] silvestreh commented on #232
I fixed this in 1ed42fe7471bab9570ad43bcf5ce53139b1372f8. I still haven't published the update to APM though.

[2016-03-08 07:31] noseglid commented on #240
It works well with the built in themes and a few others I've tested. I'm trying to use the variables provided by Atom to make that possible. It may be that it works well if we just remove the special handling that is in this theme now.

[2016-03-08 18:42] cumanacr commented on #232
Way better, I changed it manually, thank you very much

[2016-03-08 21:19] #240 closed

[2016-03-09 17:12] #228 closed

[2016-03-10 01:31] am17torres opened #243 "Color preferences reset after every update."
Pretty simple, I have a custom picked primary and accent color. Every time I do an update to the atom-material-ui package my UI goes back to a blue-green primary and white accent color even though the primary and accent colors show in the setting are what I had selected prior to updating.

[2016-03-10 12:09] kxc0re commented on #243
on update the default settings get loaded
just restarting atom / reloading fixes it ... but maybe we can get a config load after the successful update

Same Problem here on

OS: Win 7 Pro 64bit
version: Atom 1.5.4

[2016-03-10 13:14] christoga commented on #243
Install it manually? @am17torres

[2016-03-10 14:44] am17torres commented on #243
It's easy enough to correct the problem, I was just adding the issue so it can be tracked.

[2016-03-10 16:27] Nikki1993 commented on #243
I do not think this is an issue of the package tbh. It most likely has something to do with atom and the way it loads settings. On load values are loaded, but if package is updated it doesn't take into account existing values, thus reload is required.

Imho, this issue should be reported to Atom package management repo (or any other related repo), not material UI as this behavior is not UI related

[2016-03-10 17:23] silvestreh commented on #243
This happens because your `custom.less` file gets overwritten by the one in the repository. Your settings aren't changed. The next time the theme is loaded it'll overwrite `custom.less` again with your own preferences.

This is a known problem and is the only way to deal with it as long as the guy(s) maintaining [less-cache](https://github.com/atom/less-cache/pull/8) don't update LESS to a more re

[2016-03-10 17:24] silvestreh commented on #243
BTW, I added the `wontfix` label… but it's more like a `cantfix`.

[2016-03-10 18:42] James-Byrne commented on #225
Any tips on how I could debug this myself?

[2016-03-11 01:16] lexcast commented on #118
I think this should be re opened as the new version was released and the issue persists.
![incompatible](https://cloud.githubusercontent.com/assets/10590799/13690249/70e6a270-e6f4-11e5-9246-113c71228be4.png)

[2016-03-11 01:26] lexcast commented on #118
To get this panel try this:
* Install git-blame package
* Use "Aplication: Open Dev" command to open any project
* Click on the little bug icon

[2016-03-11 15:19] silvestreh commented on #118
This is what I'm getting

![captura de pantalla 2016-03-11 a las 12 17 14](https://cloud.githubusercontent.com/assets/1133339/13706315/518eb7b6-e783-11e5-859c-89878697d143.png)

There's no bug icon :( I installed `git-blame` using latest stable Atom and then opened the latest beta.

[2016-03-11 15:56] lexcast commented on #118
That message looks different for me.
So I'm thinking that is only me. I've commented everything in my style.less so the problem should be in one of my installed packages.
I'll try to find it.

[2016-03-11 16:06] silvestreh commented on #118
I actually made a couple changes to make it look that way… for example, alerts where only styled inside `settings-view`, now they should be styled everywhere. I also added the usual `3rem` padding to the incompatible packages view.

I just pushed those changes to the repository, you can try them right away if you clone this repository and then link it…

[code]

[2016-03-11 16:32] lexcast commented on #118
Yes, now the alert looks fine.
But the other panels don't.
![incompatible2](https://cloud.githubusercontent.com/assets/10590799/13708412/1d13393a-e774-11e5-94c4-53d967b66aaa.png)
But I don't know how to trigger those build errors :disappointed:

[2016-03-11 16:48] silvestreh commented on #118
I managed to  get it… I removed `~/.atom/packages/git-blame/node_modules/pathwatcher/build`. Hang in there, I'll fix it real soon.

[2016-03-11 17:04] #118 closed

[2016-03-11 17:06] silvestreh commented on #118
Finally done! 1.2.4 should fix this for you :smile:

[2016-03-11 17:20] silvestreh commented on #118
Arrrghhh… double update. Sorry, I missed some things while doing this.

[2016-03-11 18:45] PinkiePieStyle opened #245 "Strange looking sections"
After last Update i've got this

Atom 1.5.4
Material-UI 1.2.5
![material](https://cloud.githubusercontent.com/assets/7350146/13711960/76f6be16-e7c1-11e5-9e03-e885854f5424.png)

[2016-03-11 19:10] silvestreh commented on #245
I'm sorry… what's strange about it?

[2016-03-11 19:17] silvestreh commented on #245
You mean this?

![captura de pantalla 2016-03-11 a las 16 16 47](https://cloud.githubusercontent.com/assets/1133339/13712867/b3b47d7e-e7a4-11e5-9393-c69d07c07ad5.png)

[2016-03-11 19:18] PinkiePieStyle commented on #245
The blue(ish) Field right.
On other PC with Material-UI 1.2.0 it looks correct.

Same as in your Screenshot

[2016-03-11 19:19] #245 closed

[2016-03-11 19:19] silvestreh commented on #245
Thanks! Should be fixed in 1.2.6 :+1:

[2016-03-11 19:20] PinkiePieStyle commented on #245
Thx too for ur great work...

[2016-03-12 09:20] jamby commented on #229
Is there any way we can disable it? It's frustrating.

[2016-03-12 11:43] christoga commented on #229
Don't open a lot of file then.

[2016-03-12 11:47] WoodyWoodsta commented on #229
@jamby Could you offer an alternate solution then? If there were an option to disable it, what arrangement would be left as an alternative?

[2016-03-12 11:59] christoga opened #246 "Gitter chat room"
I was wondering if **atom-material-ui** has a chat room in gitter.
Please consider to create it, so a lot of us could have a talk with issue, brand new feature without submitting an issue, because it takes a lot of time for a reply

Thanks.

[2016-03-12 13:23] jerone commented on #217
:+1:

[2016-03-12 15:06] jamby commented on #229
@christoga I don't usually like to, but since I can't see that I'm opening files since they don't fit, I don't realize it until too late.

@WoodyWoodsta Wouldn't a good way is let it be like the default Atom (or maybe it's just some other themes)? Basically, the more I open, the smaller and smaller the tabs get, even if I can't see the file names anymore.

The above way usually prompts me to close

[2016-03-13 02:09] #246 closed

[2016-03-14 21:52] eramdam opened #248 "Font-weight of code is not the same between panes"
![screen shot 2016-03-14 at 2 50 53 pm](https://cloud.githubusercontent.com/assets/1409924/13761163/2f0f9bec-e9f4-11e5-8f81-1b6bf69cfc2f.png)

The un-focused pane (on the left) has a sightly smaller font-weight, resulting in annoying visual effect when switching from one pane to another.

[2016-03-14 21:54] eramdam opened #249 "Add a border between panes"
Seems like a regression but the current version (1.2.6) does not have any border between panes, making it very hard to know if you have one empty pane or not

![screen shot 2016-03-14 at 2 54 33 pm](https://cloud.githubusercontent.com/assets/1409924/13761247/ade96600-e9f4-11e5-9120-d92b6681eae0.png)

[2016-03-14 22:51] silvestreh commented on #248
`font-weight` is not involved here, it's the pane's `opacity`. I'll do something different to avoid annoying you.

[2016-03-14 23:36] #248 closed

[2016-03-14 23:36] #249 closed

[2016-03-15 10:01] pot-code opened #250 "Incompatiable with html-preview package"
When html-preview function is on, hide it then,  open  the **setting**  panel, part of the preview just display as a background underneath the setting tabs on the left.It's cool in someway, but odd indeed

Could you please fix that? thanks!

[2016-03-16 12:40] nemoDreamer opened #251 "Legacy preferences still appear in Settings"
I love all the work that's been done in "Settings", but I'm also still seeing duplicates for all the similarly names prefs: "Accent color" and "UI Accent Color", Multiple mutually excluding "Roboto" prefs, etc...

Could this be because one has to manually clean up one's own `config.cson`? Could this be done automatically?

<img width="350" alt="material_ui_settings" src="https://cloud.githubuserco

[2016-03-16 15:57] silvestreh commented on #251
Yep, there used to be a piece of code that would reset a user's settings when upgrading from 0.x to 1.x but unfortunately it kept resetting their settings after upgrading because, for some reason, localStorage wasn't available.

Here's what you can do… open a dev console and type:

[code]

That should reset your settings and get rid of the old ones.

[2016-03-16 15:57] #251 closed

[2016-03-16 23:02] gosteev opened #253 "Tabs input fields in settings"
Hello. Today i updated plugin to the latest version, and got this:
![ss 2016-03-17 at 12 58 28](https://cloud.githubusercontent.com/assets/6203574/13831327/a5d9a806-ebdb-11e5-8e1b-90f91cd1a239.png)

two text input fields instead of dropdowns, as it was before.
how can i manage this options?

Atom 1.6.0-beta7, windows10 x64

[2016-03-17 15:26] silvestreh commented on #253
Duplicate. Same as #251 … I should probably add a *known issues* to the readme file

[2016-03-17 15:26] #253 closed

[2016-03-18 16:53] Alaneor commented on #225
Terminal Plus working just fine for me using the latest Atom Material theme and Terminal Plus on OS X.

[2016-03-18 17:02] Alaneor commented on #171
I just managed to successfully override my cursor colour using this less override via *styles.less*:

[code]

Perhaps this can help you to integrate cursor overrides directly into the theme so that it always reflects the colour pallete selected by users?

Thanks!

[2016-03-18 19:07] silvestreh commented on #171
Yep that should work…

[2016-03-18 19:13] silvestreh commented on #171
Also… check what happens when I pick a light `base-color` with a light syntax theme

![captura de pantalla 2016-03-18 a las 16 11 45](https://cloud.githubusercontent.com/assets/1133339/13889243/421f28dc-ed24-11e5-98c6-a9e7521f3325.png)

(cursor is at the end of line)

[2016-03-18 19:17] Alaneor commented on #171
Ouh... Well, that's... unfortunate. Not sure how to tackle that. Maybe then not pick the `@base-color` but the colour of the highlight? Like the light yellow you have on the tab bar. I guess that would improve things a bit. A tiny bit.

[2016-03-18 19:17] silvestreh commented on #225
It's working for me on OS X and Windows 10…

@James-Byrne I really cannot think of much else other than checking the dev console for errors and inspecting the DOM as I'm not familiar with Terminal Plus inner workings.

[2016-03-18 19:19] silvestreh commented on #171
I'd probably need to write a mixin guard and compare both colors' brightness. I'll work something out.

[2016-03-18 20:12] James-Byrne commented on #225
@silvestreh It seems to be an issue with my machine. I have tried removing everything including dotfiles and still no luck. Also no errors thrown at all. Ill keep working on it but I'll close this issue since its specific to my machine. Thanks for the help though

[2016-03-18 20:12] #225 closed

[2016-03-18 21:59] silvestreh opened #254 "Use the selector `atom-panel.top` instead of the `panel-top` class."
In ../../../Projects/atom-material/atom-material-ui/index.less: Use the selector `atom-panel.top` instead of the `panel-top` class.

Note to self…

[2016-03-18 22:00] silvestreh commented on #254
Happens on Atom `1.7.0-beta0`

[2016-03-18 22:05] silvestreh commented on #250
which html-preview package are you referring to? I'm getting more than a few search results :smile:

[2016-03-19 02:24] #254 closed

[2016-03-19 04:46] pot-code commented on #250
I should apologize first, I haven't described clearly, html-preview is just **one of the chain**.I tested it again in case of coincidence,here is what I have done to meet the bug:

1. open a html file or something else.
2. press ctrl-shitf-H to active html-preview ,editor split into two panes one each side. html file on the left while preview is on the right.
3. press ctrl-shift-Enter to maximize

[2016-03-19 10:13] kozyablo commented on #171
It also seems that bottom color of bracket highlighter always has it's "teal" color scheme as well.
![screenshot from 2016-03-19 13 11 11](https://cloud.githubusercontent.com/assets/7263939/13897954/59f02c94-edd4-11e5-9162-37137d699071.png)

[2016-03-19 12:42] Alaneor commented on #171
Indeed. That one can be overriden with this piece of *less*:

[code]

![screen shot 2016-03-19 at 13 41 50](https://cloud.githubusercontent.com/assets/3058150/13898654/6185b8e4-edd8-11e5-89fe-7c32a11ec177.png)

[2016-03-19 16:49] silvestreh commented on #223
Stupid me referenced the wrong issue in commit message. This is solved by d345328a8127cc0a1949b771a69f5817290305e9.

[2016-03-19 16:49] #223 closed

[2016-03-19 16:52] silvestreh commented on #251
This is fixed by 2ed519514b3daf9c30a1900df73566361d8b6e4a :smile:

[2016-03-21 13:07] coolhome opened #255 "When package updates, settings are not reapplied."
When the UI is updated the color goes back to green.

Atom: 1.6.0 (Note: Occurred before 1.6.0 as well)

Packages
├── Remote-FTP@0.7.20
├── atom-alignment@0.12.1
├── atom-material-syntax@0.4.3
├── atom-material-ui@1.2.9
├── docblockr@0.7.3
├── file-icons@1.6.18
├── highlight-selected@0.11.2
└── minimap@4.21.0

[2016-03-21 13:15] coolhome opened #256 "Blend tree view with tab bar"
When the theme setting "Blend tree view with tab bar" is enabled. Toggle Tree View post Atom boot and the blended mode is not added to the UI. (NOTE: Only happens when Tree View is not toggled on boot)

![screen shot 2016-03-21 at 9 12 07 am](https://cloud.githubusercontent.com/assets/700740/13919633/0c34e004-ef45-11e5-8a94-0a4333ec67fe.png)

Possible Solutions: Remove the setTimeout code. Impleme

[2016-03-21 14:13] silvestreh commented on #255
Same as #243

[2016-03-21 14:13] #255 closed

[2016-03-21 19:06] silvestreh commented on #256
It works for me even when `tree-view` is disabled and I enable it after Atom booted. Or when I open a new, empty window and add a project folder.

[2016-03-21 19:57] coolhome commented on #256
Just did some digging and I have found better reproduction steps. This is a conflict with the Remote-FTP plugin.

The Remote-FTP -> Settings
 - 'Hide Local When Displayed' unchecked
 - 'Show View on Startup' checked.

Open new Atom Window.
Add folder to project.
Toggle tree view.

--

Alternative reproduction steps
Packages > tree-view > disable & reenable.

[2016-03-21 20:56] silvestreh commented on #256
@coolhome I've followed the alternative reproduction steps (I mentioned it in my previous comment) and didn't get a problem. I'll try the RemoteFTP-related steps.

Also, there IS an observer checking for changes in panels.

[2016-03-21 21:05] silvestreh commented on #256
Yeah, no… I just tried the other repro steps and still cannot reproduce it :disappointed:

[2016-03-22 00:58] coolhome commented on #256
I couldn't get it to reproduce every time either the more and more I tried to recreate it.

When toggleBlendTreeView was being executed here was the events that happened. I can't remember the exact chain of events but this will get the idea across.

- Adding blending for tree view
- Removed all blending
- Added blending for remote-ftp

[2016-03-23 15:25] maciej-kolodziejczak opened #258 "Cannot edit theme settings"
Hi,

after enabling this theme on Windows 7 there is no gear icon. However, I'm able to show it with developer tools but after clicking on it, it does not go to the theme settings, but directly to theme info (just like clicking on the theme card on installed themes list). On MacOS it works fine and setting are present.

[2016-03-23 15:27] #258 closed

[2016-03-23 16:56] stefan-kern opened #259 "eslint error-message have same color as background"
i am not one hundred percent sure if this is an issue with the syntax highlightning or the theme, but from my investigations it seems as if this package has style rules in place, just not the right colors.

![screenshot from 2016-03-23 17 45 03](https://cloud.githubusercontent.com/assets/11061334/13993346/4e48f52a-f120-11e5-9e9e-1d2623cc4ed9.png)

[2016-03-23 17:15] hatched opened #260 "Vertical scrollbar UI isn't where the grab handle is"
Ubuntu 14.04
Atom 1.60

The vertical scroll bar handle is a little to the right of where it needs to be (horizontal is correct). I have to grab just to the left of the handle to actually use the scrollbar, if I grab on the handle it switches to adjust the width of the split pane. I've tried a few other themes and it appears that this is related to this theme only and not another package.

** indic

[2016-03-24 18:09] silvestreh commented on #260
Does this happen with left or right-aligned panels?

[2016-03-24 18:13] silvestreh commented on #260
Nevermind… I get what you meant.

![captura de pantalla 2016-03-24 a las 15 11 38](https://cloud.githubusercontent.com/assets/1133339/14026682/c2c1ef8a-f1d2-11e5-8ece-cb6f66c2f950.png)

[2016-03-24 18:19] #260 closed

[2016-03-25 03:17] #259 closed

[2016-03-25 03:40] silvestreh commented on #250
The <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Enter</kbd> did nothing for me. But after resizing the HTML preview pane I could still see the settings menu shadow on top of it. After some fiddling, this is what I got:

![captura de pantalla 2016-03-25 a las 0 38 10](https://cloud.githubusercontent.com/assets/1133339/14037420/246f1556-f222-11e5-9b39-67a639562d88.png)

[2016-03-25 03:42] #250 closed

[2016-03-25 13:16] pot-code commented on #250
Ok, I modified the shortcuts, It works for me .It actives   **maximize panes**(by santip)

[2016-03-25 20:38] jerone opened #261 "Developer Tools Theme"
It is possible to style the Developer Tools too. Would be great to have both (Atom and Dev Tools) in the same (dark) theme.

For inspiration: https://atom.io/packages/dev-tools-themes

[2016-03-25 23:23] silvestreh commented on #261
I'm not sure about this. It'd be nice to have, sure, but I really don't think there will be many people going through the hassle of enabling it. If I end up doing it, I would probably make a separate package for it.

[2016-03-26 09:10] jerone commented on #261
Only package authors I guess, whom should be familiar with Dev Tools.

That's perfect too. Then there's Material UI, Material Syntax and Material Dev Tools Theme :+1:

[2016-03-29 18:17] lexcast opened #262 "git-control package"
I use [git-control](https://atom.io/packages/git-control) for basic git tasks. Would be nice if it fits with material-ui
![gitcontrol](https://cloud.githubusercontent.com/assets/10590799/14118619/8e9b1b7c-f5a7-11e5-9632-bd3d6344c47b.png)

[2016-03-30 08:03] christoga commented on #262
I rather use git-plus than git-control because the commit and the file that used is actually fits in with material-ui

[2016-03-30 15:24] hatched commented on #260
Much better thanks a lot!

[2016-03-31 14:51] thiagodasilva opened #263 "Menu bar doesn't get drawn correctly after toggling on and off"
On linux system, If I set full screen (F11) and then toggle menu bar off and then on again, the menu bar doesn't get drawn correctly until I mouse over.

[2016-03-31 15:13] silvestreh commented on #263
Sounds like an issue with your window manager. Please review the CONTRIBUTING.md file and provide some more info :smile:

[2016-03-31 15:33] thiagodasilva commented on #263
I'm not able to take a screenshot because as soon as I take the screenshot the bar gets re-drawn.
Atom version: 1.5.4

[thiago@localhost ~]$ uname -a
Linux localhost.localdomain 4.3.4-200.fc22.x86_64 #1 SMP Mon Jan 25 13:37:15 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[thiago@localhost ~]$ apm list --installed
/home/thiago/.atom/packages (7)
├── atom-material-syntax@0.4.5
├── atom-material-ui@1.2.1

[2016-03-31 18:43] silvestreh commented on #263
Which flavour of Linux are you using? (Ubuntu/Fedora/Debian/Slackware)

[2016-03-31 18:49] thiagodasilva commented on #263
sorry, should have made it more clear.
4.3.4-200.fc22.x86_6 = Fedora 22

[2016-03-31 18:52] silvestreh commented on #263
Oh, right... the `fc22` part… I'll spin a VM and check it out.

[2016-04-02 03:16] daijiang opened #264 "File type icons' size not scaled well after update"
After update the atom-material-ui package to version 1.2.10 on Mac OS X, the file type icons (from package file-icons) are not scaled very well:

![Imgur](http://i.imgur.com/bONIVaS.png)

But if I choose the other themes, e.g. Atom dark theme, the file type icons scaled right.

Any thoughts? Thanks!
![screen shot 2016-04-01 at 10 14 40 pm](https://cloud.githubusercontent.com/assets/1696911/1422412

[2016-04-02 22:52] timomeh opened #265 "Command Palette: selectable item has no active state"
A selectable item in the command palette can have an active-state. (e.g. a green checkmark). [See implementation in one dark.](https://github.com/atom/one-dark-ui/blob/e16fa074405a5105bcfeba6db75105a598417aa8/styles/lists.less#L73-L99)

![screen shot 2016-04-03 at 00 47 32](https://cloud.githubusercontent.com/assets/4227520/14229543/168d7ca0-f936-11e5-9a2d-87980713ebdb.png)

This is broken (not ex

[2016-04-04 20:10] Gunny123 opened #266 "Tool Bar and Tool bar main not scaling with theme"
Tool bar and tool bar main does not scale with this theme

**Reproduction Steps:**

1. Disable [tool bar](https://atom.io/packages/tool-bar)
and [tool bar main](https://atom.io/packages/tool-bar-main)
2. Enable both packages
3. Set size in px within tool bar to 12px, 24px then 32px
4. Tool bar does not scale to said px

**Expected behavior:**

Tool bar should scale to 32px and/or 24px but instead

[2016-04-04 20:21] silvestreh commented on #266
Hmmm… I still didn't try to reproduce this, but if you're talking about the size settings within the tool-bar package, then the answer is I did an override of those.

[2016-04-04 20:23] Gunny123 commented on #266
That's exactly what I am talking about lol.

[2016-04-04 20:25] silvestreh commented on #266
I'll take another look into restoring those settings because what I did is bullshit. I mean, I don't think it was a good idea, but it worked at the time.

[2016-04-04 20:32] Gunny123 commented on #266
Much appreciated. I also have another bug I believe I found when setting the override of font size within your settings when setting font size UI

[2016-04-04 20:35] silvestreh commented on #266
Yep, it's better to have them in separate issues :+1:

[2016-04-04 22:26] Gunny123 opened #267 "UI Font Size Setting in theme oversizes when user inputs 1 by accident"
UI font size over sizes when you leave a one before you enter another digit. Instead, defaults to 10 and then adds the digit.

**Reproduction Steps:**

1. Delete any value in the User Interface font size field within the settings of the theme
2. Enter "1" followed by a number of your choice
3. UI Font size gets insanely large

**Expected behavior:**

Font size should stay the same until user enter

[2016-04-05 14:27] german-rios-gonzalez opened #268 "Error compiling Less stylesheet"
Hello, I have this error when I try this package:

Line number: 127
'custom.less' wasn't found

LessError: 'custom.less' wasn't found
  at /home/german.rios.gonzalez/.atom/packages/atom-material-ui/styles/ui-variables.less:127:0

There is some thing that I did wrong?

[2016-04-05 15:19] german-rios-gonzalez commented on #268
I'm very sorry, this only happens when I install atom from a copr of mosquito in fedora, when I install the package by the atom download page there is no errors

[2016-04-05 15:19] #268 closed

[2016-04-05 21:14] Gunny123 opened #269 "Add folder animations to the theme"
Would there be a way to implement the [folder animations like in the Sublime Text Material UI theme](http://gfycat.com/HotSlushyJellyfish)?

Apologies for the number of issue submissions already.

[2016-04-05 21:26] silvestreh commented on #269
That would involve changing the icons and it's something I'm not going to do until I find a way for not having blurry icons. Check #193 for some more info.

[2016-04-05 21:26] #269 closed

[2016-04-05 21:28] Gunny123 commented on #269
Understood. Thanks for the reply.

[2016-04-08 19:32] mupchrch opened #270 "Selected list item in minimap quick settings looks wrong"
The selected list item in the minimap quick settings list is really strange looking.

![image](https://cloud.githubusercontent.com/assets/5797698/14395264/adbe0b46-fd9e-11e5-88f6-c677f9ce0f9a.png)

[2016-04-09 22:07] nikolowry commented on #131
I was setting up a new computer (in which I installed the latest) and pinpointed the cause of this bug - when "use animations" is disabled, it will cause some nasty side effects on other plugins that most likely are dependent on some listener based on transition/animation timing they programmed for.

[2016-04-10 01:37] silvestreh commented on #131
Would you mind opening a new issue for this?

[2016-04-10 16:06] silvestreh commented on #267
I'm not sure I can anticipate a user accidentally input a number he/she didn't mean to input. What I did is restrict the range you can input as fontSize from 10 all the way up to 32 and defaults to 16.

This number is used as the base fontSize for the editor. All sizes are based on this number using `REM`s.

While I understand your problem, I don't think there's much I can do to handle it other th

[2016-04-10 16:40] Gunny123 commented on #267
I'm just saying if one delays input by one second the theme thinks its 10 and when the user inputs another digit it scales to a value of 100 plus that number. So if I enter 1 and wait a second deciding what the next digit I want to be, lets say 4. It will scale to 104

[2016-04-11 14:22] silvestreh commented on #267
Yeah, I managed to reproduce it. I believe this is how the core `settings-views` package handles input changes. Not much I can do about it.

[2016-04-11 14:22] #267 closed

[2016-04-11 14:29] Gunny123 commented on #267
Mkay. Thought I'd bring it up anyway. Thanks for looking in to it

[2016-04-12 16:23] bbuck commented on #243
Was this a relatively recent change with Atom? I began noticing this issue when the update with improved color selection (for the UI) rolled out -- of course I can't exactly remember which Atom version I had at that time.

[2016-04-12 17:11] nikolowry opened #271 "Disabling "Use animations" has unintended side effects on other packages"
This was first reported in issue https://github.com/silvestreh/atom-material-ui/issues/131- however, we were unable to collectively pin point why certain users could/couldn't reproduce the bugs.

After setting up a new machine and doing a fresh install - I was able to deduce that the "Use animations" being disabled was the culprit. I'm assuming other packages might have dependent events and event

[2016-04-12 17:23] silvestreh commented on #243
@bbuck this started with the 1.x releases. Color settings are saved as usual, but also written to a `custom.less` file where I override default `less` variables with your custom colors.

This file, `custom.less` is overwritten every time you update the theme. The theme then overwrites it again to use your custom colors after you reload Atom.

[2016-04-14 21:19] monkpit opened #272 "styles/custom.less is overwritten"
I wanted to tone down the yellow color for .status-modified in the treeview, so I override the coloring in my custom.less file.

[code]

When I do a reload of Atom, I notice a few things:
* the yellow color persists!
* unmodified files in a folder that is marked as modified are purple
* modified files within the same folder are not purple as intended, but still yellow.

Oh, well clearly I have mad

[2016-04-15 02:03] dudeofawesome opened #273 "2 characters combining into 1"
If I type `fi` or `fl` in any text widgets within atom, the 2 characters get combined into 1 single width character.

![screen shot 2016-04-14 at 6 58 09 pm](https://cloud.githubusercontent.com/assets/1683595/14549221/e4f674bc-0272-11e6-81af-e10e1e02fe04.png)

This only happens with a lowercase `f` and lowercase `i` or `l`, and only in that order. Changing any of the characters to uppercase causes

[2016-04-15 02:30] anobilisgorse opened #274 "Auto hide scroll bar when not triggered or hovered, and a much thinner scrollbar"
Hello, I really liked what you did with the new update of Atom Material UI, but I very much prefer having a thinner scrollbar and auto hiding it.

Is there some other way where I can do it through my own `styles.less`?

Many thanks.

[2016-04-15 14:52] silvestreh commented on #274
You could try something like this in your user styles…

[code]

[2016-04-15 14:52] #274 closed

[2016-04-15 15:01] silvestreh commented on #273
It's called [ligatures](https://en.wikipedia.org/wiki/Typographic_ligature). Both characters are still there, but they're rendered as a special single character. If you want to override this behavior, open your user stylesheet and add this:

[code]

Personally, I love programming ligatures available in Fira Code:

![](https://raw.githubusercontent.com/tonsky/FiraCode/master/showcases/all_ligatures

[2016-04-15 15:01] #273 closed

[2016-04-15 15:09] silvestreh commented on #272
@monkpit yep, you're doing it wrong :smile:. The `custom.less` is an internal stylesheet where I override the theme's color variables based on your settings. This file is generated every single time you start or reload Atom, that's why your changes won't persist.

The place for your own custom styles is in the user stylesheet located in `~/.atom/styles.less`.

`~` means your home directory and var

[2016-04-15 15:09] #272 closed

[2016-04-15 21:31] dudeofawesome commented on #273
TIL. When I tried out Fira Code, fi and fl stopped being combined.

[2016-04-16 09:36] anobilisgorse commented on #274
But it won't auto-hide? I came upon that too and that solved my problem about the width, but regarding the auto-hide feature?

I thought it was `.scrollbars-show-when-scrolled` but it was not working.

[2016-04-18 01:56] silvestreh commented on #274
Scrollbar visibility is controlled by the OS. In OS X scrollbars are disabled by default, the class `scrollbars-visible-always` is added when you set the OS to always show them. Windows always shows them… I'm not sure about Linux as there are quite a few window managers/desktop environments.

With that said, you could try something like this:

[code]

As you can see, you would have to do this on a

[2016-04-22 09:23] James-Byrne commented on #271
I can confirm that turning on animations fixed #225 for me

[2016-04-22 16:30] silvestreh commented on #271
Thanks @James-Byrne. Now I have another reason to fix this one 😀

[2016-04-26 18:59] sociallymellow opened #276 "-webkit-font-smoothing override causing unreadable text"
If I get a chance I would love to confirm this myself after digging through the code but just from speculation and a slight amount of research I saw that by default `-webkit-font-smoothing` is set to `subpixel antialiased` but when switching to atom-material-ui theme the sidebar (tree) and tab font weight is thinner and harder to read. I am on a MacBook Pro and have not experienced this previously

[2016-05-03 03:31] SubhamSatyajeet opened #278 "UI problem with atom's Minimap package"
When using the minimap package (https://atom.io/packages/minimap), the settings menu in the minimap, when revealed, shows the first option in the menu highlighted.

![90](https://cloud.githubusercontent.com/assets/7932787/14974028/61eeb1de-110d-11e6-9327-9d972aa1f114.png)

One Dark UI, One Dark Syntax (provided by default on Atom)

![91](https://cloud.githubusercontent.com/assets/7932787/14974038/

[2016-05-03 15:00] #278 closed

[2016-05-03 15:11] silvestreh commented on #278
Duplicate of #270

[2016-05-03 18:34] atishpatel opened #279 "Autocomplete popup return value not visible"
Issue:
The popup for the autocomplete's return value for the selected value is not visible.
![screen shot 2016-05-03 at 1 28 12 pm](https://cloud.githubusercontent.com/assets/6618430/14994076/87496cc8-1133-11e6-98e2-6dd894b5e19f.png)

the `get` function returns `error` but it's not visible when it's selected. Perhaps, it should be @accent-color-value * x%.

**Which version of Atom are you using? *

[2016-05-04 01:28] #279 closed

[2016-05-04 01:36] silvestreh commented on #276
Panels, settings, and tabs are antialiased. You can override this in your user stylesheet with:

[code]

I work on a 13" (2011) non-retina MacBook Pro and to me it looks pretty good. I guess it's more of a subjective matter on my part, as I can read both `font-smoothing` modes with no problem.

[2016-05-04 01:36] #276 closed

[2016-05-04 01:52] #271 closed

[2016-05-04 02:55] #270 closed

[2016-05-04 07:03] SubhamSatyajeet commented on #270
@silvestreh Thanks for fixing it so quickly. I appreciate it.

[2016-05-04 15:54] silvestreh commented on #270
@SubhamSatyajeet no problem. I'll publish an update as soon as I fix a few other bugs 😄

[2016-05-04 16:10] #266 closed

[2016-05-04 16:22] silvestreh commented on #264
I'm not seeing this with either `bib` or `tex` files. Which would be weird because, as far as I can remember, the theme doesn't mess with icons (…yet)

![captura de pantalla 2016-05-04 a las 13 19 58](https://cloud.githubusercontent.com/assets/1133339/15021058/19a6358e-11fb-11e6-93a8-e0de58153417.png)

Check the contributing guide, there's some info in there to help you submit better bug reports s

[2016-05-04 16:43] #265 closed

[2016-05-04 17:14] timomeh commented on #265
Thank you! Looks really good. 👍

[2016-05-04 22:43] Gunny123 commented on #266
@silvestreh Thanks for fixing this. Well done!

[2016-05-04 23:51] silvestreh commented on #266
@Gunny123 no problem 😄

[2016-05-05 14:23] Gunny123 opened #282 "Tinted tab bar extends past tab bar to toolbar icon"
Tint extends to [toolbar](https://atom.io/packages/tool-bar) icon

**Reproduction Steps:**

See video below

**Expected behavior:**

Tint stops at tool bar

**Observed behavior:**

Extends to icon

**Video**

[Video of issue](https://streamable.com/1yzx)

**Atom version:** 1.7.3
**OS and version:** Windows 10

**Installed packages:**

├── aligner@0.22.0
├── atom-beautify@0.29.7
├── atom-html-previ

[2016-05-05 17:29] silvestreh commented on #282
Yep, that's the price to pay for restoring `tool-bar`'s size functionality. It will be aligned if you set `tool-bar`'s size to `24px`.

[2016-05-05 17:29] #282 closed

[2016-05-05 20:24] JamesCoyle opened #283 "Contrasting Panels Issue and Sugestion"
Just a small issue really. When the toolbar package is enabled and in a vertical orientation the top icon gets blended with the top bar. That icon doesn't adhere to the contrast panels setting though and remains the darker color even with the setting disabled. Would be nice if this could be fixed.

![image](https://cloud.githubusercontent.com/assets/10384436/15055905/ffa3aa4c-1306-11e6-8be7-8debe7

[2016-05-07 00:12] CoWinkKeyDinkInc opened #284 "Can't seem to select the theme in Atom 1.7.3"
I go to the drop down menu UI and Syntax Theme, and both material-ui and material-syntax don't show up, even though they're both installed.

What do I do?

[2016-05-07 04:42] silvestreh commented on #284
I'm not sure it's a problem with the theme. Are you sure you're not running Atom in safe mode?

[2016-05-07 14:34] CoWinkKeyDinkInc commented on #284
It isn't in safe mode, other packages I have installed are still running.

[2016-05-07 18:21] silvestreh commented on #284
That's odd… is the dev console printing any errors or warnings? Check the CONTRIBUTING file, it'll help you make a better bug report :)

[2016-05-09 12:45] Mooreplusone opened #285 "Icons not showing up"
Not sure if I need to install a font, but the folder and other icon 'fonts' are not showing https://www.dropbox.com/s/yob5j7jl7d5rks8/Screenshot%202016-05-09%2006.45.36.png?dl=0

[2016-05-09 13:57] silvestreh commented on #285
Material UI doesn't change any icons. And looks like you have a problem with `atom-monokai`.

[2016-05-09 13:57] #285 closed

[2016-05-09 22:38] suejon opened #286 "Failed to activate the atom-material-ui theme"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.3
**System**: Mac OS X 10.11.4
**Thrown From**: [atom-material-ui](https://github.com/silvestreh/atom-material-ui) package, v1.2.11

### Stack Trace

Failed to activate the atom-material-ui theme

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-05-10 17:36] silvestreh commented on #286
Check if `/Users/jonosue/.atom/packages/atom-material-ui/styles/vendor/perfect-scrollbar.less` file exists. If it doesn't then reinstall the theme.

[2016-05-11 08:17] suejon commented on #286
Thanks that sorted it out :)

[2016-05-11 08:17] #286 closed

[2016-05-11 15:04] aopal opened #287 "Can't read selected property name in symbol view"
The highlight showing which object is currently selected seems to be the exact same color as the text color, making it impossible to read the name of the selected object.

Screenshot was taken using atom material syntax theme and the default blue colour scheme of atom material UI.

![test](https://cloud.githubusercontent.com/assets/13202534/15185508/8d45c6fa-1767-11e6-8de7-dbd0eaaa39fb.png)

[2016-05-11 19:10] silvestreh commented on #287
And that overlay is provided by which package? Check the CONTRIBUTING file, it'll guide to submit a better bug report.

[2016-05-11 19:50] aopal commented on #287
It's the built in atom symbols view

https://atom.io/packages/symbols-view

[2016-05-11 20:59] silvestreh commented on #287
I'm not seeing this behavior. Please, check the CONTRIBUTING file.

![captura de pantalla 2016-05-11 a las 17 58 30](https://cloud.githubusercontent.com/assets/1133339/15196305/0d8c0c7c-17a2-11e6-93bb-890cf1114a72.png)

[2016-05-11 20:59] #287 closed

[2016-05-12 03:20] zzjin commented on #262
same bother here. Both using git-plus and git-control.

[2016-05-12 04:28] christoga commented on #262
You take too long 😂  @zzjin

[2016-05-12 16:29] silvestreh commented on #262
@christoga I know… I have a full time job that pays for my bills. I'll get to it eventually.

[2016-05-12 16:30] christoga commented on #262
I didn't mean about that, I mean the way he reply bro.
No offense ✌️

[2016-05-12 19:11] silvestreh commented on #262
None taken 😄 . I didn't mean to sound harsh, I just wanted to explain the delays.

[2016-05-13 10:13] christoga commented on #262
I also have a job dude,
I usually open repo issues when I'm on bed. 😂

[2016-05-13 19:43] #264 closed

[2016-05-16 17:52] silvestreh commented on #284
Did you work this out?

[2016-05-21 10:56] Javacym opened #288 "about primary color"
some text do not show.

**Reproduction Steps:**

1. i set primary color(38,50,56)
![qq 20160521185230](https://cloud.githubusercontent.com/assets/13167757/15447968/3041bff6-1f85-11e6-9550-f3f97703395e.png)

2. but soma text do not show out.
![qq 20160521185405](https://cloud.githubusercontent.com/assets/13167757/15447986/6d386d6a-1f85-11e6-946f-db1e51d7888d.png)
test here:
![qq 20160521185431](htt

[2016-05-21 18:18] silvestreh commented on #288
Don't set the primary color to be the same as the background as it is used for text too. If want your tab bar to be the same color as the text editor then just disable the "tinted tab bar" option.

[2016-05-21 18:18] #288 closed

[2016-05-21 18:20] silvestreh commented on #284
I'm closing this due to inactivity

[2016-05-21 18:20] #284 closed

[2016-05-21 18:33] christoga commented on #284
If you want to open an issue, better be active.
_You probably should put that in the README_

[2016-05-21 19:52] CoWinkKeyDinkInc commented on #284
I'm very sorry about my inactivity, but the issue seemed to resolve itself somehow.  I'm still on the same version.

[2016-05-22 04:32] silvestreh commented on #284
@christoga, you're not helping with that attitude. Please understand that I'm not getting paid to work on this theme.

Here's how it works: I asked about this issue 5 days ago and, in the absence of a reply, I have to assume he either resolved it or wasn't experiencing the problem anymore, hence, I closed the issue.

I close inactive issues so the issue tracker doesn't become a mess and I can prio

[2016-05-22 04:47] silvestreh commented on #283
I'll take a look at the toolbar icon. I agree that it should visually "merge" when the contrast is disabled.

About that feature… I guess you'll have to deal with your user stylesheets for it. I'm not a fan of the idea of having way too many options, I like to keep things simple.

[2016-05-22 04:57] silvestreh commented on #284
Also @CoWinkKeyDinkInc no need to be sorry, you didn't do anything wrong. As I tried to explain above, it's not you, it's just me trying to organize the repo 😁 . I always welcome any kind of contribution, be it code, bug reports, or feature requests.

[2016-05-22 23:56] Javacym opened #289 "scope name do not show correct."
[image]
![qq 20160523075309](https://cloud.githubusercontent.com/assets/13167757/15457407/5a370b86-20bb-11e6-8338-529646f9f88f.png)

.java do not show out ,it is atom bug or material ui bug?

![qq 20160523075528](https://cloud.githubusercontent.com/assets/13167757/15457412/ad389c1e-20bb-11e6-94f6-7750f915e7d2.png)
or show not in a line.

[2016-05-23 03:39] silvestreh commented on #289
It's a Material UI bug. I merged a pull request for this very same problem, but it introduced a few other bugs. Anyway, I'll take a look.

[2016-05-23 03:40] sveggiani opened #290 "Code font is bolder than it should"
When this theme is activated, the font in the code panels is bolder than it should, in my opinion. If this is intended it would be awesome to have an option to set this. Check in the screenshot that a font-weight: 600 is being applied.

**Reproduction Steps:**

1. Activate the theme
2. Go to a code panel to see the bolder font.

**Expected behavior:**

Font weight shouldn't be affected by theme.

[2016-05-23 03:51] silvestreh commented on #290
I'm pretty sure it varies from font to font, but I'm actually not setting the `font-width`, but rather the `font-smoothing`, and only on the panels (tree view and tabs).

Here's what I have in my user stylesheets:

[code]

This used to be the default behavior, but I changed it due to repeated issue reports.

[2016-05-23 04:06] #283 closed

[2016-05-23 04:06] #289 closed

[2016-05-23 13:41] sveggiani commented on #290
Hi @silvestreh, the problem dissapeared aftern an Atom restart in both machines (OS X , Windows). May be a note about this is a good addition to the Readme.md file.

I'll close this issue. Thank you!

[2016-05-23 17:51] #262 closed

[2016-05-23 22:33] JayXon opened #291 "Space between icon and filename in tab"
When I have many tabs open, it's very hard to distinguish between different filenames with same first word. The space between icon and filename is just too much is this case. (And it's not even aligned)

**Reproduction Steps:**

1. open many tabs

**Expected behavior:**

smaller space between icon and filename

**Observed behavior:**

large space

**Screenshots and GIFs**

![screenshot from 2016-0

[2016-05-23 23:30] silvestreh commented on #291
Alignment is probably due to the package providing the icons. This theme won't change them. The whitespace is according to the Material Design specification (and even then, the white space is not as large as in the spec.)

If you'd like, you can change this in your user stylesheets…

[code]

That snippet above will reduce icon spacing to 25% of its current value.

[2016-05-23 23:30] #291 closed

[2016-05-24 01:04] JayXon commented on #291
Thanks!

[2016-05-27 15:29] LinkEscapist opened #292 "Font size on the bottom pane is incorrect"
font size on the bottom pane is incorrect,this problem is NOT happening with official themes including "One dark"and"Atom Dark" under the same situation,adjust the UI font size in theme config does work to the whole UI but the part i mentioned.

**Expected behavior:**

it should be like the screenshot in the README

**Observed behavior:**

just..that small,the font of directory/CRLF/filetype/encoi

[2016-05-27 17:19] silvestreh commented on #292
Not exactly a bug, but the screenshot in the README is outdated. If you want to increase the font-size use this snippet in your user stylesheet:

[code]

Cheers!

[2016-05-27 17:19] #292 closed

[2016-05-29 22:34] JamesCoyle opened #293 "Icon in update panel doesn't match theme color"
The heart/sand timer icon in the update panel doesn't match the theme color. Would be nice if it did.

![image](https://cloud.githubusercontent.com/assets/10384436/15636415/bdb88aa6-25f5-11e6-88aa-95ff8dca01e2.png)

[2016-05-30 00:36] silvestreh commented on #293
Some things don't have to match the theme color as they're colored based on their status. I mean, you wouldn't expect an error message to be teal colored, it should be red. Same goes for success, information, and warning.

[2016-05-30 00:36] #293 closed

[2016-05-30 00:41] JamesCoyle commented on #293
The blue isn't showing anything though. If it was red, yellow or green showing error, warning or failure sure. But it's always just blue and looks out of place.

[2016-05-30 00:57] silvestreh commented on #293
I'm sure it does show on other elements. The update counter in the status bar, for instance, is also blue. The hourglass and magnifier icons that appear while searching or waiting for an async method to finish, are also blue. Notifications are blue when they're of type `info` (like this `atom.notifications.addInfo('test');`.)

In short: the `info` status is colored blue. Many packages use the `tex

[2016-05-30 23:50] kmare commented on #268
I have the same problem. I'd like to keep using the mosquito repo on fedora. Isn't it fixable somehow?

[2016-05-31 00:19] silvestreh commented on #268
@kmare the `custom.less` file is where your personal settings are saved. This [file is in the repo](https://github.com/atom-material/atom-material-ui/blob/master/styles/custom.less) and should exist when installing the theme.

I wouldn't know WHY it's missing in your case. Try reinstalling the theme:

[code]

Or, alternatively, create the file yourself:

[code]

This could be fixed if someone woul

[2016-05-31 00:22] kmare commented on #268
Thank you! It was as you said. uninstalling and reinstalling didn't help, but creating (touch) the file did the trick.

[2016-05-31 04:13] Mohamed-Abo-El-Soud opened #294 "Compatibility with nuclide"
there are some features of the UI that look wonky on atom with nuclide enabled. One example is the check marks that appear beside each file in the tree view (must have nuclide to see the problem). I included a few photos of the problem.
with stock UI:
![image](https://cloud.githubusercontent.com/assets/7649479/15663038/6645a6da-26c4-11e6-849d-fdc27bc6ca5c.png)

![image](https://cloud.githubusercon

[2016-05-31 15:57] silvestreh commented on #274
@HoverBaum the editor doesn't use OS scrollbars. Having said that, the snippet you're after would look like this:

[code]

[2016-06-01 23:32] superchink opened #295 "Selected tab showing up as solid black bar. Filename illegible."
The currently selected tab shows up as a solid black bar, and the filename is illegible.

**Reproduction Steps:**

1. Enable Theme
2. Restart (Optional)
3. Observe black bar on selected tab

**Expected behavior:**

Selected tab shows up with the name of the current file.

**Observed behavior:**

Tab shows up as a black bar.

**Screenshots and GIFs**

<img width="379" alt="blacktab" src="https://cl

[2016-06-02 00:30] silvestreh commented on #295
This one is odd… I'll investigate

[2016-06-02 00:51] silvestreh commented on #295
Found the culprit! The theme [shadow](https://atom.io/packages/shadow) is overriding stuff. Disabling or uninstalling it should revert things to normal. If you want you can open an issue in their repository.

Cheers!

[2016-06-02 00:51] #295 closed

[2016-06-03 16:16] cssgirl opened #296 "Failed to activate the atom-material-ui theme"
1. In Themes menu, click gear icon to right of UI Theme dropdown after selecting "Atom Material Theme"
2. Scroll down to settings and click Primary color box. Select a new color (I selected a bright pink).

After that the error occurred and the UI styles were completely broken. I switched to another UI theme, and back to Atom Material Theme and my color changes were intact and the UI was looked as

[2016-06-03 16:53] silvestreh commented on #296
Did you set the color manually or by using the `<select>` with the color presets?

[2016-06-03 17:13] silvestreh commented on #296
Just tried using both methods to change colors (presets and picking my own). With the packages you listed and without them. Can't reproduce this error.

You can reset the colors settings by opening Atom's dev console (<kbd>Cmd</kbd>+<kbd>Alt</kbd>+<kbd>i</kbd>) and entering the following snippet:

`atom.config.set('atom-material-ui.colors');`

Or, alternatively, you can open your Atom config file

[2016-06-04 13:49] BigfootN opened #297 "Autocomplete window not entirely visible"
Hello,

I just noticed that, particularly with this ui theme, the autocomplete window, when the editor is split, is almost hidden under the line number gutter, making it almost impossible to see it:

![2016-06-04-135530_206x97_scrot](https://cloud.githubusercontent.com/assets/1183923/15799792/94a1b468-2a68-11e6-8108-0db941a73f9f.png)

**Steps to reproduce**:

1. Open file
2. Split the screen
3. Pl

[2016-06-06 16:28] cssgirl commented on #296
I had used the color wheel, clicking around until I found the color I liked best. I have tried this a few times as well with new colors and haven't been able to reproduce the error either.

[2016-06-06 20:51] silvestreh commented on #296
Well, there was an issue with Atom's color picker where it would return invalid color values (both HEX and RGB) but I think it was resolved some time ago.

[2016-06-07 00:35] sveggiani commented on #290
Happening again to me with the Atom 1.8.0 update. This times a restart doesn't fix the font rendering problem.

[2016-06-07 05:52] silvestreh commented on #290
My computer died. It might be a while till I can get back to this as I'm in no position to get a new one 😭

[2016-06-07 23:51] sveggiani commented on #290
ohh, @silvestreh I sorry to hear that :( I hope you can get a new one soon
I'll try to take a look at this later.

[2016-06-08 17:45] supremebeing7 commented on #229
@jamby If you haven't already found a solution, you can edit the stylesheet to make this work the way you wish:

    .tab-bar {
      .tab {
        min-width: initial;
      }
    }

[2016-06-08 17:48] supremebeing7 commented on #229
(I also added `max-width: initial;` to make the tabs fill the entire tab bar - Example: http://i.imgur.com/rMHxYBt.png. Super helpful when I want to close a bunch of tabs at once when they start getting out of control.)

[2016-06-09 15:58] jared-christensen commented on #221
Is there a way I could make them auto match the width of the text? I tried messing with the css but could not figure it out.

[2016-06-12 16:17] aitboudad opened #300 "[Tabs] Drag and Drop Layout"
[Drag and Drop Layout Management](https://github.com/atom/tabs/pull/252) has been added recenlty in atom `1.9` but seems not entirely visible with material
see https://github.com/atom/tabs/blob/master/styles/layout.less

[2016-06-15 16:43] titanmaru opened #301 "Blend Tree tabBlender missing when install Nuclide"
When install Nuclide the tabBlender is not exist even if it is checked.  Will have to go to setting to check and uncheck again to reappear.  I think I already found the problem and fix it.  If you are okay for review I will do a pull request.

**Reproduction Steps:**

1. Install Atom or rm -rf ~/.atom
2. Open Atom and install atom-material-ui and atom-material-syntax
3. Enable color of your choice

[2016-06-15 17:38] paul-siteway opened #302 "Numbers Rendering Bug"
OS: macOS Sierra
Atom Version: 1.8.0

![bildschirmfoto 2016-06-15 um 19 37 16](https://cloud.githubusercontent.com/assets/3603487/16090648/b237f426-3330-11e6-86c6-a9be61f42ca8.png)

[2016-06-15 17:44] silvestreh commented on #302
what's the font you're using? also, you're using a preview OS

[2016-06-16 09:39] paul-siteway commented on #302
Seems to be a global macOS Problem. Just noticed the same in other Apps.

[2016-06-16 16:36] silvestreh commented on #302
Alright, feel free to close this issue if you believe it's a problem with the preview release of macOS as I won't install it until a stable release is made.

[2016-06-16 16:37] #302 closed

[2016-06-18 17:16] calvinkarundu opened #303 "Can't edit scrollbar width"
I can't seem to find any settings to edit the width of the scrollbars, not sure if this is the intended behavior or an issue with the package. I just updated to verison 1.2.13 (I'm loving it by the way) running on Ubuntu 14.0.4 and Atom 1.8.0. Everything else looks great though :+1: thank you sir!

[2016-06-19 19:32] sveggiani commented on #290
@silvestreh I've found the cause of this problem. It's the [atom-trailing-spaces](https://github.com/wpillar/atom-trailing-spaces) that adds the following classes to the body: `trailing-spaces-highlight-indentation` `trailing-spaces-highlight-cursor-lines` that match the selectors in https://github.com/atom-material/atom-material-ui/blob/master/styles/text.less#L42
I don't have any experience with

[2016-06-20 00:17] giolf opened #305 "tree view - current open file"
it's possible to change in the tree view how to show the current open file ?
take the README.md file as example in this picture:
https://i.github-camo.com/545d5462428d9da9c99c1fc0cbd82e47488fd690/687474703a2f2f692e696d6775722e636f6d2f457850596d4a592e706e67

it has a green background color. what i would like to do is to remove that background color and istead of it show a little vertical line on th

[2016-06-20 01:42] varughese commented on #303
Check out my pull request !

Or add this to your stylesheet

[code]

[2016-06-20 03:34] calvinkarundu commented on #303
@varughese added styles to my stylesheet... works great! :+1: :ok_hand:

[2016-06-20 03:34] #303 closed

[2016-06-22 03:13] yannakopoulos opened #307 "Tab hover tooltip adds line breaks unintuitively"
When you're editing a file with a long absolute file path, the tab hover tooltip inserts line breaks in unhelpful places. It seems to only break when either the line hits a maximum number of characters or there's a space in the path. The problem with this is that it breaks up individual directory names across lines, which can be hard to read at a glance. Forward slashes seem like a more natural pl

[2016-06-22 03:21] silvestreh commented on #307
Unfortunately, there is currently no way in CSS to tune line breaking rules by specifying, for example, that a line break is permitted after a certain character wherever it appears in the text.

[2016-06-22 03:21] #307 closed

[2016-06-25 20:27] bennyp123 opened #308 "Legibility with TypeScript when Using Teal Colour"
Howdy. Using atom-TypeScript, there are some legibility issues in the status bar down below the pane:

**Screenshots and GIFs**
<img width="818" alt="screen shot 2016-06-25 at 11 24 59 pm" src="https://cloud.githubusercontent.com/assets/1466420/16358960/350cc040-3b2c-11e6-8c04-2240276546f6.png">
<img width="370" alt="screen shot 2016-06-25 at 11 25 12 pm" src="https://cloud.githubusercontent.com/a

[2016-06-25 22:21] alexindigo commented on #243
Same here, and it happens pretty often, so it's very annoying.

![Not Purple][http://ia.gs/gXrd/Image%202016-06-25%20at%203.17.50%20PM.png]

[2016-06-25 22:22] alexindigo commented on #243
@silvestreh Can you store that data somewhere else? and reread it after update? Maybe localstorage?

[2016-06-25 22:25] alexindigo commented on #243
Btw, Atom restart (as suggested above) didn't fix the issue. The only way is to reapply the color selection.

[2016-06-26 03:00] jared-christensen commented on #229
I don't like part of the title getting cut off. Here is what I came up with.
https://gist.github.com/jared-christensen/29271832c56cb1c69ae6aef2312ae9d1

[2016-07-06 05:16] ruppalsingh commented on #308
+1.

Feel like gouging my eyes out. Love TypeScript, can't stand this.

[2016-07-09 18:07] #256 closed

[2016-07-09 18:09] silvestreh commented on #308
Unfortunately I don't use Typescript… could you share a snippet that triggers this behavior so I can take a look?

[2016-07-09 18:12] #290 closed

[2016-07-09 19:47] bennyp123 commented on #308
Anything which triggers an error ought to do. Create a .ts file in an empty
dir and type in some invalid ts. Simple enough to try and `import {
fake_class } from 'fake`

On Sat, Jul 9, 2016, 9:09 PM Silvestre Herrera <notifications@github.com>
wrote:

--
Benny Powers
Licensed Israel Tour Guide

In Israel 054-482-5726
In Canada 705-300-0072
In the USA 601-255-3532

bennypowers.com

[2016-07-26 01:21] philippu opened #310 "@input-background-color is white and causes unreadable "light gray on white" text with white @syntax-text-color"
ui-variables.less defines

@text-color: fade(@syntax-text-color, 80%);
@input-background-color: #FFF;

For syntax themes where @syntax-text-color is set to white or light gray, this causes unreadable text in some input boxes. Also, the white background does not match the overall color palette of the UI theme.

**Reproduction Steps:**
N/A

**Expected behavior:**
@input-background-color should proba

[2016-07-26 02:22] silvestreh commented on #310
Are you seeing this issue anywhere? Because `@input-background-color` is actually not used anywhere in the theme. It's probably there from the time I rewrote the theme and didn't end up using it.

[2016-07-26 02:26] #310 closed

[2016-07-26 02:46] baiou15 opened #311 "Failed to activate the atom-material-ui theme"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.6
**Thrown From**: [atom-material-ui](https://github.com/silvestreh/atom-material-ui) package, v1.2.13

### Stack Trace

Failed to activate the atom-material-ui theme

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-26 02:52] silvestreh commented on #311
This is an odd one. The `perfect-scrollbar` package isn't used anymore so I removed the offending stylesheet. Please update the theme.

[2016-07-26 02:52] #311 closed

[2016-07-26 03:04] #308 closed

[2016-07-26 03:05] silvestreh commented on #305
I'm sure you can achieve this using your personal stylesheet located in `~/.atom/styles.less`.

[2016-07-26 03:05] #305 closed

[2016-07-26 03:17] silvestreh commented on #301
Nuclide's tree view seems to change too often. I don't use it, yet I don't want to screw its users and stop supporting it. I'll see what I can do, but it might take some time, please be patient 😄

[2016-07-26 03:56] #301 closed

[2016-07-26 04:07] titanmaru commented on #301
@silvestreh thank you

[2016-07-27 00:23] #294 closed

[2016-07-27 00:36] #297 closed

[2016-07-27 00:39] silvestreh commented on #300
Fixed in a2515c72713a920bcb4e789fd928c85e94ac2ffd 😄

[2016-07-27 00:39] #300 closed

[2016-07-27 07:03] BigfootN commented on #297
Thank you very much :tada: :smile:

[2016-08-01 09:56] manekinekko opened #312 "[Question] Where is the setting menu?"
![image](https://cloud.githubusercontent.com/assets/1699357/17290494/f982f8ee-57de-11e6-9045-305e23ea5c89.png)

[2016-08-01 16:22] silvestreh commented on #312
If you just installed the theme try restarting Atom and let me know if that worked. I usually get the same issue where the settings button isn't there the first time I install the theme.

[2016-08-01 23:10] manekinekko commented on #312
I still don't see the cog icon. How would you debug this? I have no errors in the devtools...

[2016-08-01 23:37] silvestreh commented on #312
I have no idea how to debug it. But I could use some more info about your system. Check the [CONTRIBUTING](https://github.com/atom-material/atom-material-ui/blob/master/CONTRIBUTING.md) file, it has instructions on how to provide some more info to help me start debugging it 😄

[2016-08-02 23:21] jneuendorf opened #313 "Elements with a class containing "close" get wrong styling"
In line 26 of alerts.less there is a selector

[code]

Since it is loaded globally it breaks any button containing "close" in a class.
In my case I have 2 buttons:

[code]

The markup corresponds to the style guide of atom, therefore:

**Expected behavior:**

I would expect it to work out of the box (that means without writing extra CSS) so they look like shown in the style guide ("Icon buttons").

[2016-08-03 18:23] Gunny123 opened #314 "Shadow effect on Tool-bar package"
Weird shadowing at bottom of the toolbar
**Reproduction Steps:**

1. Launch Atom
2. Ensure tool-bar is activated

**Expected behavior:**

Solid uniform color

**Observed behavior:**

Shadow at bottom. See this [screenshot](http://imgur.com/iABAwT1) at look at bottom right

**Screenshots and GIFs**

[Shadow effect at bottom right](http://imgur.com/iABAwT1)

**Atom version:** v1.9.2
**OS and version

[2016-08-03 20:56] silvestreh commented on #314
Not related to Material UI. This happens when the `tool-bar` is scrollable, might b a bug with the `tool-bar` package.

[2016-08-03 20:56] #314 closed

[2016-08-05 07:30] manekinekko commented on #312
Alright. I uninstalled all other themes, and re-installed this one. And now I can see the cog button.
I'm closing this issue.
Thanks for your help ^^

[2016-08-05 07:30] #312 closed

[2016-08-07 07:06] bennyp123 opened #315 "TypeScript Hover"
TypeScript's hover tooltips look less than stellar in this theme, see screenie
**Screenshots and GIFs**

![hover](https://cloud.githubusercontent.com/assets/1466420/17461045/8cf2ec82-5c86-11e6-9705-4569e0e90a0f.png)

[2016-08-07 20:02] scrawfor opened #316 "Cannot see settings gear."
I cannot see the settings gear on one of my machines.  Clicking the name of the theme takes me to a display with some of the settings, but none of these seem to have any affect.  This only affects my Linux VM.  My windows machines seem unaffected.

**Screenshots and GIFs**

![image](https://cloud.githubusercontent.com/assets/7061689/17464937/ce719df8-5cb7-11e6-8200-d33c10c50b8a.png)
![image](https

[2016-08-12 15:35] Klathmon opened #317 "Git file highlighting in atom 1.10 beta"
In 1.10 beta (started at beta2 IIRC and is still an issue in 1.10.0-beta5) the git highlighting for the files in the tree view is messed up.

If any file changes, it highlights all files to be that color all the way up to the root folder.

This only happens if the Atom Material UI theme is active.

**Screenshots and GIFs**
In this example, the only file added is src/components/scanner/index.js
![i

[2016-08-13 16:58] Nikki1993 opened #318 "Failed to change UI color on latest Atom from git Master"
Title says it all. Changing primary color causes Material UI theme to crash

**Reproduction Steps for Atom from Git Master:**

1. Open material UI settings
2. Try to change primary color
3. Boom, get crashed.

**Expected behavior:**

Color changed.

Theme crashed and reverts to default teal color.

**Atom version:**  1.11-dev
**OS and version:** Solus OS 1.2.1

**Stack trace and packages**

[Enter

[2016-08-13 22:26] egold commented on #27
How does one find/change the setting for the tree view line height? Besides editing the .less file in the theme directory?

[2016-08-13 23:49] silvestreh commented on #27
@egold: Go to settings, then navigate to the Themes section. In there you'll find a cog icon next to the theme dropdown selector.

![captura de pantalla 2016-08-13 a las 8 48 33 p m](https://cloud.githubusercontent.com/assets/1133339/17646222/5864cfd8-6197-11e6-90b5-b90b9e86a311.png)

If you can't see the cog icon, just click the package card for `atom-material-ui` anywhere but the title.

![captu

[2016-08-13 23:51] egold commented on #27
Brilliant! Thanks so much @silvestreh. I was specifically looking for that button, but I think the fact that I didn't see it on any of the Themes (besides yours) was making me assume it wasn't a thing.

[2016-08-13 23:53] silvestreh commented on #318
Yes, I noticed this too. I didn't bother taking a look into it because it's not even a beta release. We'll see again once 1.11 hits the beta channel.

[2016-08-13 23:53] #318 closed

[2016-08-18 11:49] tikiatua commented on #317
Same issue on OS X El Capitan

[2016-08-19 15:17] octoxan commented on #317
Same issue on Windows 10.

[2016-08-19 18:38] silvestreh commented on #317
Yep, I can confirm too. Unfortunately I've got no time to hack on this. Contributions are very much welcomed!

[2016-08-19 18:41] octoxan commented on #317
I'll look into it tomorrow morning and see if I can help

[2016-08-21 15:47] KacasPiesel opened #319 "Theme is crashing - "Cannot find module tinycolor2""
I am just starting Atom and... I see a beautiful crash.

It happens on my Windows 10 and Debian 8

**Reproduction Steps:**

1. Install Atom
2. Download and set as default themes: atom-material-ui & atom-material-syntax
3. Close and open Atom.

**Screenshots and GIFs**

[Screenshot](http://screenshot.sh/owpBxe99J3Q5m)

**Atom version:** 1.9.8/1.9.9
**OS and version:** Windows 10/Debian 8 (stable/je

[2016-08-21 16:42] silvestreh commented on #319
That's odd. Somehow APM failed to install dependencies.

Open a terminal and do...

[code]

[2016-08-22 06:44] Kampfmoehre commented on #317
Got the same problem on Debian for a while now. I build Atom directly from master once a week or so.

[2016-08-22 21:43] imtiazwazir opened #320 "Material Ui and Nuclide issue"
<img width="241" alt="screen shot 2016-08-23 at 2 38 35 am" src="https://cloud.githubusercontent.com/assets/1964969/17872802/47b0c232-68db-11e6-9ed4-97f0ae15ba39.png">

[2016-08-23 01:02] silvestreh commented on #317
OK… this is weird. I commented out all styles with VCS coloring and I'm still getting the problematic tree-view 😕  … I'll keep investigating, if anyone can shed some light I'd really appreciate it.

[2016-08-23 01:40] #317 closed

[2016-08-23 07:48] dusan989 opened #321 "Files and folders from .gititgnore aren't colored correctly"
Files and folders from .gititgnore aren't colored correctly after the latest update. Now, they look like all other files and folders. Problem is that, now color attribute has been added in the CSS, even for them.

[2016-08-23 12:52] silvestreh commented on #321
Thanks, this one skipped my mind as I usually hide VCS-ignored files. I'll take a look ASAP.

[2016-08-23 12:56] #321 closed

[2016-08-24 16:46] #171 closed

[2016-08-24 17:20] silvestreh commented on #319
Also… how did you install the theme? Sounds like a bug in APM.

[2016-08-26 01:56] silvestreh commented on #318
This *was* an issue in atom/settings-view#832. Works like a charm now.

[2016-08-27 03:18] simurai opened #323 "atom-pane-resize-handle changes"
Once https://github.com/atom/atom/pull/12300 merges, the vertical `atom-pane-resize-handle` can't be used to drag the panes anymore. I think the problem is:

1. In Core, the `:before` pseudo element [is now used](https://github.com/atom/atom/pull/12300/commits/ee0a03b0b212b05f01dc76e3ecb0b5889b4cc90b) for the handle because [Chromium 52 will change some flexbox behaviour](https://developers.google

[2016-08-27 03:21] simurai commented on #323
Not sure if you have built Atom before, so you can test the changes in Core. Let me know if not.

The line made with `::before` might can get replaced with a border?

[2016-08-27 16:14] silvestreh commented on #323
Hey @simurai! I tried using a border before but results weren't great to say the least:

![captura de pantalla 2016-08-27 a las 1 09 24 p m](https://cloud.githubusercontent.com/assets/1133339/18028543/ff8119fa-6c57-11e6-8038-3cf6f87f56b2.png)

It overlaps with the scrollbar 😞

But fear not, I can also use the `::after` pseudo element to achieve the same results.

[2016-08-27 16:16] #323 closed

[2016-08-28 10:06] Nikki1993 commented on #318
Awesome sauce!

[2016-08-28 15:14] KacasPiesel commented on #319
Just downloaded in settings of Atom.

[2016-08-28 17:30] KacasPiesel commented on #319
I just updated theme and it's working well on Windows. Not tested on Linux.

[2016-08-28 17:30] #319 closed

[2016-08-28 18:23] silvestreh commented on #319
This wasn't an issue with the theme. It was a problem with APM, Atom's package manager. It somehow failed to install the dependencies.

[2016-09-02 02:12] macklinu commented on #315
I'm seeing the same issue. I think I've found a fix and will open a PR for feedback.

[2016-09-06 04:00] Obversity commented on #116
@silvestreh I installed this theme and immediately noticed that find-and-replace took slightly longer to open, and significantly longer to close. Similarly, fuzzy-finder and the command palette are slightly slower to load than in the built-in themes.

This is in a (reasonably large) Rails project. I've tested it in a (significantly smaller) Django project and it seems pretty snappy, with no hint o

[2016-09-07 16:21] octoxan opened #325 "Can't customize using Atom's styles.less"
Can't customize using Atom's styles.less

**Atom version:** 1.11.0-beta4
**OS and version:** Windows 10

[2016-09-07 18:28] silvestreh commented on #325
sounds like an issue with Atom

[2016-09-07 18:30] octoxan commented on #325
That's what I was thinking at first as well, but in most other UI and Syntax themes I can go to File > Stylesheet and make for example the treeview background purple and it'll do it. None of the changes do anything in either of the Material themes though. Not sure why..

[2016-09-07 18:31] octoxan commented on #325
Yep I just downloaded Aesthetic UI (oh wow its ridiculous, makes everything like Win 95), and any modifications to the built in Stylesheet are reflected immediately

[2016-09-07 21:14] silvestreh commented on #325
I don't know exactly what you're trying to customize, but maybe I'm using some overly-specific CSS selectors. Have you tried `!important` flags?

[2016-09-07 21:28] octoxan commented on #325
Hm, sorry !important flags do seem to fix it for Material UI. But if I try that for the Material syntax it doesn't work.

You have:

[code]

[2016-09-09 08:02] Alaneor opened #326 "Timecop view seems to be styled incorrectly"
Opening the Timecop view, I noticed that the view is most likely not styled as intended. Attaching screenshot.

**Reproduction Steps:**
1. Open Atom 1.10.2
2. Open Timecop view (_Packages -> TImecop -> Show_)
3. Behold, and despair

**Expected behavior:**

Peaceful thoughts while inspecting my packages' load times

![screen shot 2016-09-09 at 09 51 33](https://cloud.githubusercontent.com/assets/30

[2016-09-09 15:07] silvestreh commented on #326
Yep, it looks hideous indeed. I'll take a look at it. Thanks!

[2016-09-09 15:07] silvestreh commented on #326
BTW, you're using a different font for the UI, right?

[2016-09-09 15:11] Alaneor commented on #326
Yes, I have overridden the font everywhere to be Operator Mono.

Thanks for looking into it!

[2016-09-16 03:18] zhaocai opened #327 "Compact Project Find Result"
Is there a way to make the **project find result** compact?

As shown in the screenshot below, the margin between lines is too large.

**Reproduction Steps:**

search with project-find

**Screenshots and GIFs**

![project find result](https://dl.dropboxusercontent.com/u/1897501/Screenshots/atom-material-search-result-compact.png)

**Atom version:** 1.10.2
**OS and version:** Windows 10

[2016-09-17 18:04] trunneml commented on #326
Same here. With a light color theme it is unreadable.
![2016-09-17](https://cloud.githubusercontent.com/assets/241487/18610054/fa156104-7d11-11e6-98b6-7c1cd7ee12c7.png)
![minibar](https://cloud.githubusercontent.com/assets/241487/18610053/fa15277a-7d11-11e6-8309-a8a39248419c.png)

[2016-09-18 08:59] trunneml opened #328 "Headline in Project Search and Replace has styling problems"
The headline in the project search has some styling problems. (Like Timecop and the Minimap).

**Reproduction Steps:**
1. Use a light syntax theme
2. Find -> Find in Project (Ctrl + Shift + F)
3. Look at the headline

**Expected behavior:**

Correctly styled headline with correct background color and font size.

**Observed behavior:**

Black-font on dark grey background
**Screenshots and GIFs**

!

[2016-09-21 08:11] gertsonderby commented on #229
Welp. The fact that this was just closed with no explanation by the maintainer, and ridiculed by community members (Seriously, "open fewer files", do you even code, bro?), means I'll be finding a different theme to use now. kthxbye.

[2016-09-21 11:19] silvestreh commented on #229
@gertsonderby The [PR where this was resolved](https://github.com/atom-material/atom-material-ui/issues/298) is even mentioned in this issue.

![captura de pantalla 2016-09-21 a las 8 14 29 a m](https://cloud.githubusercontent.com/assets/1133339/18708873/73d3cc56-7fd3-11e6-85cb-79e6a3fbe2b2.png)

I can recommend SetiUI.

kthxbye.

[2016-09-26 11:27] go2sh opened #329 "panel coloring is broken"
.panel-heading and .inset-pading looks awkward in some cases. The build-tools package e.g. falls back to default colors from atom. Also the intended look for the .inset-pading is not visible.

This comes many from the panels.less file, which isn't overwriting the defaults properly.

**Expected behavior:**
 See colors from the material design.

**Observed behavior:**
 See colors from the core atom

[2016-09-26 12:36] smlombardi opened #330 "Theme no longer uses color from Setting as Primary color"
Primary color is set to be "Blue Grey Primary", but the theme is using Green. It was working before I updated to Sierra, although on another mac it worked fine on Sierra.

![screen shot 2016-09-26 at 8 36 47 am](https://cloud.githubusercontent.com/assets/835148/18834513/62491c44-83c4-11e6-8da2-e280c6b2a3c6.jpg)

Atom 1.11.0-beta5, macos10.12 (16A323), atom-material-ui 1.3.6

[2016-09-26 12:38] smlombardi commented on #330
Seems that closing an re-opening the project restored the correct color (I earlier tried just quitting and restarting Atom, which did not).

[2016-09-26 12:38] #330 closed

[2016-09-28 02:01] zmb3 opened #331 "Notification text wraps prematurely"
It seems that the text in Atom notifications is wrapping prematurely.

In this particular case, I have two notifications stacked on top of eachother, and the notification on the bottom is exhibiting the problem.  If I clear the topmost notification so that there is only one notification remaining, the layout corrects itself.

**Reproduction Steps:**

This is easy to reproduce with the Go-Plus pack

[2016-09-28 09:34] r0ckarong commented on #328
Got the same problem. I use the pen-paper-coffee syntax and just worked around it for now by adding the property to my stylesheet with the gutter color of the active syntax.

[code]

@trunneml This happens on macOS and Ubuntu as well. Not platform specific it's a styling issue with the theme.

[2016-10-02 06:27] zacs opened #332 "Syntax theme allowed to define primary color?"
More of a question than an issue: is it possible for a syntax theme to be aware of Material UI and to proactively set the primary color so that it matches the syntax theme? Would it be as simple as specifying `atom-material-ui.colors.abaseColor` specifically in a syntax theme, or would that not be respected by Material UI?

[2016-10-02 18:46] silvestreh commented on #332
I would advice against writing other package's settings. That said, yeah, I believe you can read it with `atom.config.get('atom-material-ui.colors.abaseColor')`.

You'll need to write some JS for that though, because AFAIK you can't get those settings using stylesheets. You can use the `fs` module to write a LESS stylesheet with AMU's color settings and then use those throughout your syntax theme.

[2016-10-12 12:28] The-Pingu opened #333 "Tabs doesn't scale when tab-bar is full"
Technical description: Tabs doesn't decrease in width beneath a certain value.
General description: When the tab-bar is full of tabs, opening a new tab doesn't resize the other tabs in width. Instead it moves the new tab out of the window and it's therefore unable to choose (click).

Reproduction Steps:
1. Open Atom
2. Keep going opening tabs (CTRL+N) until you notice the behavior

Expected behavi

[2016-10-12 13:00] silvestreh commented on #333
You can either scroll the tab bar horizontally or get into the theme's settings and override this behavior by enabling the `No minimum width for tabs` option.

[2016-10-12 13:00] #333 closed

[2016-10-12 14:26] abraham opened #334 "Color new Mac custom title-bar to match tab bar color"
Atom 1.11.0 shipped with a new [custom title-bar API](https://github.com/atom/atom/pull/11790) that can be themed. It would be great if that matched the primary color when "tinted tab bar" is enabled.

**Screenshots and GIFs**

![This is the titlebar provided by one-dark-ui, with the oceanic-next syntax](https://cloud.githubusercontent.com/assets/170500/15407534/ad8b0c4a-1e0b-11e6-842e-de6df82d5e1

[2016-10-12 17:07] silvestreh commented on #334
This is already implemented in 1834afa52c87f54e447c4926edbac929f5e401ed 😄  …

[2016-10-12 17:07] #334 closed

[2016-10-12 19:52] abraham commented on #334
Is there anything I have to do to make it work? It's just the default gray title-bar for me.

[2016-10-12 20:02] abraham commented on #334
🤓 🌴 totally missed that I have to enable this in Atom. I had assumed that it would just work.

[2016-10-12 20:22] silvestreh commented on #334
Oh yeah… You need to enable that in Atom's Core Settings… for future reference:

![captura de pantalla 2016-10-12 a las 5 21 17 p m](https://cloud.githubusercontent.com/assets/1133339/19326313/64438cbc-90a0-11e6-9956-44df5752cd6d.png)

Enable `Use Custom Titlebar`.

[2016-10-15 14:03] Je4hel opened #335 "Background color renders badly with dark syntax themes"
Background color for dark syntax themes renders incorrectly.

**Reproduction Steps:**
1. Use the Material UI theme
2. Use a dark syntax theme (Material, Atom Dark, base 16 dark...)
3. Open a file an type some text

**Expected behavior:**

Background color should render on the whole background

**Observed behavior:**

Background is rendered with different color rectangles that move when the cursor

[2016-10-19 05:10] Nikki1993 opened #337 "Deprecated Selectors"
Latest Atom from master, 1.13.0-dev at the time of writing, reports deprecated selectors for atom editor due to removal of shadow dom.

Starting from Atom v1.13.0, the contents of atom-text-editor elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using :host and ::shadow pseudo-selectors, and prepend all your syntax selectors with syntax--. To prevent bre

[2016-10-19 06:01] simurai commented on #337
Here a guide (still WIP): https://github.com/atom/flight-manual.atom.io/blob/7d0d8b9213472ef054b3628f6b104b402a57e598/content/shadow-dom/sections/removing-shadow-dom-styles.md#when-should-i-migrate-my-themepackage

[2016-10-19 11:55] iovis9 opened #338 "Option to set custom title-bar color to background color"
I don't like using the primary color to tint the top of the application, but I like to use it so it matches my background color and it looks like a solid color. Example:

![screen shot 2016-10-19 at 13 51 33](https://cloud.githubusercontent.com/assets/6660202/19517749/45a1ca86-9603-11e6-95e2-a84efe0498a0.png)

I currently do it by "lightening" the background color 5% and setting it as the primary

[2016-10-19 12:08] iovis9 commented on #338
If someone wants to change it in their own config:
![screen shot 2016-10-19 at 14 07 32](https://cloud.githubusercontent.com/assets/6660202/19518084/67ccfe6c-9605-11e6-97ea-5060c83c4e3a.png)

[2016-10-19 16:02] silvestreh commented on #337
Thanks! I'll pull from master and rebuild to check this out.

[2016-10-26 14:18] jimmyff opened #339 "atom-toolbar not styled correctly"
Buttons are incorrectly styled and you can't see the options in drop down menus.

[2016-10-28 10:44] arussellsaw commented on #335
the issue is present in light themes, just less visible

tilt your screen if you cannot see it, it's very faint.
![screen shot 2016-10-28 at 11 43 40](https://cloud.githubusercontent.com/assets/5236823/19804025/d3438698-9d03-11e6-8ae4-c76276d6c01c.png)

[2016-10-28 10:51] schrej commented on #335
This is not an issue of this theme, it isn't even a atom problem, it's a rendering issue with electron (there is an atom issue where they explained it). Some future atom update will fix it.
In the meantime start atom with `--disable-gpu` for correct rendering.

[2016-11-02 05:41] tsaiid opened #340 "<small> tag not styled correctly with atom/markdown-preview"
<small> tag not styled correctly with [atom/markdown-preview]

**Reproduction Steps:**

1. type sample text: ```text <small>text</small>```
2. set theme to Atom Material
3. toggle markdown preview

**Expected behavior:**

The text in small tag should be smaller then normal text.

**Observed behavior:**

The text in small tag larger then normal text.

**Screenshots and GIFs**

![2016-11-02 1 28 59]

[2016-11-05 16:34] justinschier commented on #335
I'm having the same issue in 1.11.2 in macOS Sierra when using Atom Material theme and Atom Material Dark as the syntax theme. It flashes when I just move my mouse around.

![image](https://cloud.githubusercontent.com/assets/126453/20031818/201f838a-a354-11e6-802e-9acb3eaf0dbb.png)

[2016-11-05 17:50] schrej commented on #335
@justinschier did you read my message above?

[2016-11-10 20:03] silvestreh commented on #340
Fixed in #341

[2016-11-10 20:03] #340 closed

[2016-11-12 03:53] pingshunhuangalex opened #342 "Display Issue (Bad Colour Choice) for Restart Notification"
With the latest Atom version 1.12.2 and Atom Material (Dark), the following issue remains...

It happens when the below notification is triggered (after updating packages that require restart). It's just a bad choice of color which makes it almost impossible to see the restart text on the button both before and after the clicking.

![a6b806b2-a8d9-11e6-8765-e347948d9fe5](https://cloud.githubuserco

[2016-11-12 18:29] Spidersouris commented on #342
Can confirm.

![Screenshot](https://puu.sh/sfU90/097347155a.png)

[2016-11-27 00:08] #342 closed

[2016-11-27 00:12] silvestreh commented on #339
Care to share a screenshot or reproduction steps?

[2016-11-27 00:20] #338 closed

[2016-11-27 00:21] #332 closed

[2016-11-27 00:23] silvestreh commented on #335
I'll close this since it's not related to the theme and the answer was shared by @schrej (thank you for enlightening us!)

[2016-11-27 00:23] #335 closed

[2016-11-27 01:03] silvestreh commented on #331
I can't seem to reproduce this. Could you take a screenshot of the markup rendered by Chromium? Open Atom's DevTools and take a screenshot of the HTML.

[2016-11-27 01:04] silvestreh commented on #329
could you please share a screenshot so I can see what you mean? 😄

[2016-11-27 01:09] #328 closed

[2016-11-27 01:20] #326 closed

[2016-11-27 01:28] #313 closed

[2016-11-27 18:28] zmb3 commented on #331
Does this help?

![image](https://cloud.githubusercontent.com/assets/7527103/20650806/642c713e-b4a5-11e6-87ce-ead855267b9c.png)

[2016-11-27 19:10] silvestreh commented on #331
it sure does. now I can simulate those notifications manually. thanks!

[2016-11-27 20:17] silvestreh commented on #331
Ok, looks like I managed to reproduce and fix this. Here's what it should look like now:

![captura de pantalla 2016-11-27 a las 5 17 22 p m](https://cloud.githubusercontent.com/assets/1133339/20651498/535f2b9c-b4c5-11e6-967a-24ccea23d72a.png)

I'll publish a new patch so you can test it 😄

[2016-11-27 20:18] #331 closed

[2016-11-27 20:20] silvestreh commented on #331
Should be fixed in `1.3.8` which I just pushed to APM. Thanks for your help! 😄

[2016-11-27 21:01] zmb3 commented on #331
Yep, the fix looks great.  Thanks!

[2016-11-28 09:54] go2sh commented on #329
UI with material theme:
![image](https://cloud.githubusercontent.com/assets/150886/20663707/c14122ee-b558-11e6-95e5-64e0241ab7d0.png)

UI with One light:
![image](https://cloud.githubusercontent.com/assets/150886/20663655/9b97135a-b558-11e6-8f13-3f7b349069c2.png)

The headings linke "General" and "Highlighting" and those "Modifiers:" stuff with the slider. In all other themes the look is more or l

[2016-11-30 13:11] jimmyff commented on #339
![screen shot 2016-11-30 at 13 07 26](https://cloud.githubusercontent.com/assets/298850/20753425/38ed1e28-b6fe-11e6-9395-88a59f69539e.png)

The toolbar is above the file tabs, as you can see the buttons are not themed and the select menu has strange styling.

You can test yourself by installing the 'dartlang' package will install and configure the 'atom-toolbar' package.

[2016-11-30 15:45] silvestreh commented on #339
Cool thanks! I'll take a look and fix this ASAP 😄

[2016-12-06 19:37] sdaitzman opened #344 "Breaks Platformio Serial Monitor Prompt"
[Short description of problem here]
See https://github.com/platformio/platformio-atom-ide/issues/186
**Reproduction Steps:**

1. Have Platformio and atom-material-ui installed
2. Try to raise Serial Monitor on a display that isn't massive
3. Show advanced settings

**Expected behavior:**

All dropdowns are a reasonable size, or at least visible or scrollable

**Screenshots and GIFs**

See https://

[2016-12-06 19:38] sdaitzman commented on #344
I'm mostly just creating this issue because I'm not sure which package needs to fix the issue, and I want a link between any thinking taking place here on the issue and any thinking taking place at platformio on the issue

[2016-12-18 22:18] hiiiPipe opened #345 "Can't select the theme in Atom"
When I go to the drop down menu UI and Syntax Theme,  both material-ui and material-syntax don't show up, even though they're both installed.

![slika1](https://cloud.githubusercontent.com/assets/22946559/21297007/2c995032-c578-11e6-9935-18a235a4ffb9.png)
![slika2](https://cloud.githubusercontent.com/assets/22946559/21297010/33122bd2-c578-11e6-9fbe-376400ba38ab.png)

[2016-12-19 00:43] silvestreh commented on #345
I can see both options in your screenshot. "Atom Material"

[2016-12-26 01:50] 24RaquelL opened #346 "error message"
[There was a  problem it didn't open error
]

**Reproduction Steps:**

1. [First Step]
2. [Second Step]
3. [Other Steps...]

**Expected behavior:**

[Describe expected behavior here]

**Observed behavior:**

[Describe observed behavior here]

**Screenshots and GIFs**

![Screenshots and GIFs which follow reproduction steps to demonstrate the problem](url)

**Atom version:** [Enter Atom version here

[2016-12-26 04:25] #346 closed

[2017-01-07 20:30] SpectralKH opened #347 "Snippets Text Invisible"
As you see in the screenshot above, the text on the right side is pretty much invisible with the teal background. I am not 100% sure if this is caused by Material UI or Syntax.

**Reproduction Steps:**
Make a, say, JavaScript file. Now, type in "get" and you'll see the snippet suggestions as seen in the image.

**Screenshots and GIFs**
![screen shot 2017-01-07 at 9 24 54 pm](https://cloud.githubus

[2017-01-11 00:39] emyarod opened #348 "Deprecation warnings in Atom v1.13.0"
Receiving this message after updating to Atom v1.13.0:

[2017-01-11 08:25] v2hey commented on #348
+ 1

[2017-01-11 16:57] #348 closed

[2017-01-11 16:58] #345 closed

[2017-01-11 17:11] #347 closed

[2017-01-11 17:12] #337 closed

[2017-01-18 16:06] silvestreh commented on #344
This packages needs fixing. Mostly due to poor decision making when starting from scratch with 1.0.0 – sorry! 😅

I'm doing a ___HUGE___ refactor which will eventually become 2.0 and (hopefully) be more compatible with other packages and won't need so much tweaking in a per-package basis.

[2017-01-23 17:46] sn0wyfall commented on #334
@silvestreh Thank you! Which theme is that?

[2017-01-23 21:10] silvestreh commented on #334
@sn0wyfall It's [`atom-material-ui`](https://atom.io/packages/atom-material-ui) 😄

[2017-01-24 07:13] sn0wyfall commented on #334
@silvestreh Oh, okay! Did you make it purple manually? Just asking because it looks nice :)

[2017-01-24 14:19] silvestreh commented on #334
@sn0wyfall yup, it's within the theme's settings. There are color pickers to pick whatever color you like and there's a `<select>` with some presets (I'm using the purple preset)

[2017-01-24 15:33] sdaitzman commented on #344
Got it! Is there an issue I should tag to associate that project with this issue so it can be closed then?

[2017-01-25 06:17] Log1x commented on #274
Thanks for that @silvestreh -- that works nicely. Only quirk is it's not setting `opacity: 1;` when the scrollbar its self is being hovered. I tried adding `horizontal-scrollbar:hover { opacity: 1 }` but didn't have luck with that either.

Any ideas what I'd need to add to fix that inconsistency?

[2017-01-25 17:07] sn0wyfall commented on #334
@silvestreh Thanks for the tip! :)

[2017-01-30 10:05] ilmam opened #349 "keep icon colors in tabs"
I use "file-icons" to display colored icons in atom tabs. After switching to atom-material-ui, and setting tainted tab bar color. I lost the icons colors. This is important to locate the files easily.
Can I hack this icon colors in material-ui ?

[2017-02-01 17:06] seminull commented on #330
I had this issue, turned out that portions of my .atom in home were owned by root.  Presumably because I ran a `sudo apm update`.  Hopefully this helps someone else.

[2017-02-01 18:01] silvestreh commented on #330
Yep, losing write access to `~./atom` could break things. The custom color feature works by overwriting a LESS file where color variables are defined and then reloads the theme.

[2017-02-02 07:31] pingshunhuangalex opened #351 "Material-Ui's Big Button Covers Part of the Text in Merge Conflicts"
Honestly, I'm not sure who I should turn to regarding this issue. Since `Atom Merge Conflicts` hasn't been updated for ages, I thought I may have a better shot here.

I'm using material-ui and material dark syntax, and material-ui uses a larger button compared to other themes. This looks great, but it introduces a problem when using `Atom Merge Conflicts`. The first line of the conflicts will be e

[2017-02-07 22:35] pingshunhuangalex opened #352 "Project Name CSS for Styling is too restrictive"
Hi @silvestreh
As reported here in `atom-tree-view-git-status` (https://github.com/subesokun/atom-tree-view-git-status/issues/37), when users give their focus on tree panel, the branch info will become invisible (override by the theme css). Hopefully you can fix this when you have time. Thanks.
![image](https://cloud.githubusercontent.com/assets/17170199/22714727/e5586f40-ede1-11e6-84b0-34f489fb26

[2017-02-07 22:36] pingshunhuangalex commented on #351
Hi @silvestreh
Just wonder if there is any plan on getting this issue fixed as `Merge Conflicts` is a big plus for atom itself. Thanks.

[2017-02-08 16:37] silvestreh commented on #351
Yeah, I'm working on a major refactor which will, hopefully, make the theme "more compatible" with other packages.

[2017-02-10 01:07] jstocksix opened #353 "Panel shading inconsistent"
Unsure if bug or I need to add some custom styling, although this issue only apparent with the material-ui and material-syntax packages (which I love, but this issue is distracting).

Thanks so much for the work so far though!

**Reproduction Steps:**

Any text file.

**Expected behaviour:**

Consistent shading across panel regardless of line length or position of cursor.

**Observed behavior:**

[2017-02-10 03:48] pingshunhuangalex commented on #351
Hi @silvestreh
Instead of opening new issues, just want to list some other colouring issues I noticed recently. They are all error/warning shown in lintering. Hope they will all be fixed in the coming major refactor. Thanks.

Inline Warning Text for Flake8:
![image](https://cloud.githubusercontent.com/assets/17170199/22813422/9ccdbf36-ef9f-11e6-94bc-d40a5c6e17ff.png)

Error Panel Error Type for Es

[2017-02-11 18:53] willejos commented on #243
restarting atom fixes the issue for me

[2017-02-11 20:50] silvestreh commented on #353
This is not an issue with the theme, but with Electron itself. Check #335 for further info 👍

[2017-02-11 20:50] #353 closed

[2017-02-12 18:03] Arcanemagus commented on #351
That is actually a Linter issue (https://github.com/steelbrain/linter/issues/1317), the text color was being forced to `white` instead of using a theme variable.

[2017-02-12 21:59] jstocksix commented on #353
Ahh yep, that makes sense. I did think it might have been something further upstream than material-ui... Thanks for the link and thanks for your great work!

[2017-02-12 22:23] pingshunhuangalex commented on #351
Thanks @Arcanemagus for the support on the Linter issue.
I guess people just read reported issues too quickly, and sometimes it's just really hard to say whether the background colour or the text colour should be changed, especially when they are maintained by two different developers.

[2017-02-14 10:44] silvestreh commented on #349
I [overrode the color](https://github.com/atom-material/atom-material-ui/blob/master/styles/tabs.less#L311) when using tinted tabs for the simple reason that if you have a green icon with a green background you wouldn't see it. I doubt that this can be reverted by using your user stylesheets, but it doesn't hurt to try.

[2017-02-15 14:34] Shadownigma opened #354 "Failed to activate the atom-material-ui theme"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.14.2 x64
**Electron**: 1.3.13
**OS**: Microsoft Windows 10 Enterprise
**Thrown From**: [atom-material-ui](https://github.com/silvestreh/atom-material-ui) package 1.3.9

### Stack Trace

Failed to activate the atom-material-ui theme

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-02-16 02:25] dantarion opened #355 "Tooltip animation interferes with mouse hover events."
https://github.com/platformio/platformio-atom-ide-terminal/issues/149

Basically, when the tooltip slides upwards, it ends up covering up the button the mouse is over until the animation finishes. As a result, you have to wait for the animation to finish before you can click, and sometimes the animation replays, as the tooltip itself becomes hovered, causing the tooltip to disappear.

[GIFV](http:

[2017-02-18 20:48] bajanbentley opened #356 "Rename "Accent" color to "Secondary" to avoid confusion"
The primary theme colour option changes the accent colour instead. Meanwhile the accent colour picker doesn't do anything.

**Screenshots and GIFs**

![Screenshots and GIFs which follow reproduction steps to demonstrate the problem](http://i.imgur.com/ADrDPWl.png)

**Atom version:** [1.14.2]
**OS and version:** [Ubuntu 16.10]

[2017-02-18 23:02] silvestreh commented on #356
This is not an issue. It's designed to be like this. I *should* rename _Accent_ to _Secondary_ to avoid confusion.

The accent color will be used to underline tabs when you have "tinted tab bar" enabled. I see how can this be confusing, but it's a naming issue 😄

I'll leave this issue open as a reminder of what I have to do.

Thanks!

[2017-02-19 01:11] BlackGhost3 opened #357 "when opening a file getting following error"
## getting this error when opening a file
`Failed to get methods for (File Name)`
`Unexpected token W in JSON at position 1`

[2017-02-19 01:20] #357 closed

[2017-02-19 01:55] bajanbentley commented on #356
Oho, thanks for the clarification :)

[2017-02-21 13:25] lfkid opened #358 "Uncaught Error: Cannot find module 'tinycolor2'"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.14.3 x64
**Electron**: 1.3.13
**OS**: Unknown Windows version
**Thrown From**: [atom-material-ui](https://github.com/silvestreh/atom-material-ui) package 1.3.9

### Stack Trace

Uncaught Error: Cannot find module 'tinycolor2'

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-02-21 14:49] silvestreh commented on #358
Hey there! Did you install the theme within Atom? The solution is pretty simple, you should open a terminal emulator and…

[code]

For some reason APM didn't install the theme's dependencies. You could also try uninstalling and reinstalling from within Atom's settings.

[2017-02-22 04:41] jonyeezs opened #359 "Atom tabs switch-list does not appear"
Using Atom's tab package for tab-switching, had the tab switch disabled.

The class on that element is `select-list tabs-mru-switcher`

**Reproduction Steps:**

**Settings for atom-material-ui:**

- [x] Generate complementary accent
- [ ] Paint text editor's cursor
- [ ] Use animations
- [x] Contrasting panels
- [ ] Panels cast shadows
- [x] Compact tab bar
- [x] No minimum width for tabs
- [ ] Ti

[2017-02-22 08:08] rasenplanscher opened #360 "Only one styled window on restarting atom"
Only the first window gets user styles when atom is restarted with multiple windows.

**Reproduction Steps:**

1. Change theme settings to `Purple`, with custom colors
2. Open multiple windows
3. Exit and re-start atom

**Expected behavior:**

All windows should have the custom styles all the time

**Observed behavior:**

All new windows get the custom styles during step 2. After step 3, only one

[2017-02-22 08:09] rasenplanscher commented on #360
May be connected to #243

[2017-02-22 16:08] BestWillInTheWorld opened #361 "Markdown table headers unreadable when saved to HTML from markdown preview."
Markdown table headers unreadable when saved to HTML from markdown preview.

## Reproduction Steps:

1. Create/save a markdown file containing a table e.g.

My     | Table
------ | ------
some | value

2. Bring up "markdown preview" using [ctrl]+[m]
3. Right-click in the markdown preview pane and select "save markdown as HTML"
4.

## Expected behaviour
UI theme shouldn't affect Markdown Preview's

[2017-02-24 00:45] ashtonmeuser commented on #327
👍

[2017-02-26 19:59] sdaitzman opened #362 "Animation Speed"
I would love to be able to adjust the speed of the animations; especially those in the tab-bar. I'm willing to write this myself and do a PR if others are interested.

[2017-03-05 05:45] AtomicCoding opened #365 "Parts of screen randomly becoming white and then reverting back"
Hello, the issue is that whenever I go through an interface or open a new window or something, part of the screen will be white for a moment and then go back.

**Reproduction Steps:**

1. Enter some sort of new interface

**Expected behavior:**

No random white areas in Atom.

**Observed behavior:**

White areas in Atom.

**Screenshots and GIFs**
http://i.imgur.com/66phrn6.gifv

**Atom version:**

[2017-03-07 22:53] scooterman751 opened #366 "Tree View Line Separator"
There is no line separator for the tree view with the Atom-Material UI. I really don't like this since it mixes me up with my open files ( tabs ) and the tree view. I really like this UI and just adding that line would be very helpful! Thanks!

**Reproduction Steps:**
1. Downloaded atom-material-ui [https://atom.io/themes/atom-material-ui]
2. Opened tree view

I thought that everything was going t

[2017-03-08 03:25] LingRay opened #367 ""Define a working set" of Nuclide's tree-view is misplaced"
[Short description of problem here]
The btn of "Define a working set" is too small。
**Screenshots and GIFs**
![image](https://cloud.githubusercontent.com/assets/12709688/23688642/b7fb50a6-03f0-11e7-9d87-16b8f4e0c819.png)

**Atom version:** 1.14.3
**OS and version:** macOS

[2017-03-08 03:27] LingRay commented on #367
resolve it using the css style
`    .nuclide-file-tree-toolbar .btn-group .btn {
    padding: 0;
    width: 8rem;
    border-radius: 0;
    margin-bottom: 1rem;
}`

[2017-03-08 17:44] silvestreh commented on #366
You could enable shadows 😃

[2017-03-10 12:44] timomeh opened #368 "Shift-Enter doesn't trigger Button Press in Command Palette (e.g. for git-plus)"
**Reproduction Steps:**

1. Install git-plus
2. Stage some files with git-plus in the command palette
3. Press <kbd>shift-enter</kbd>

**Expected behavior:**

Pressing <kbd>shift-enter</kbd> should cause the flagged files to be staged, or rather trigger a press on the "Apply" button.

**Observed behavior:**

<kbd>shift-enter</kbd> doesn't work in atom-material-ui, but it works in Themes like OneDa

[2017-03-10 16:58] silvestreh commented on #368
I agree about the looks, I'm actually working on a new codebase to mitigate these kind of issues.

About the <kbd>Shift</kbd>+<kbd>↩</kbd>… it's weird because I did not set nor overrode any event listeners. Are you sure it's caused by this theme?

[2017-03-10 21:07] timomeh commented on #368
Oh my god that's so embarrassing... I've recently overridden <kbd>shift-enter</kbd>, at the same time as I switched to atom-material-ui. I totally forgot about that. 😥

Yeah. <kbd>shift-enter</kbd> works. I'm sorry for that. Totally my fault.

As you said, an improvement of the looks would be great. But the keystroke works, so I'm closing this.

[2017-03-10 21:07] #368 closed

[2017-03-10 21:11] silvestreh commented on #368
@timomeh nothing to be embarrassed of! You wouldn't believe the times where I found myself blocked because of a small, almost obvious, little issue. It happens more often than I'd like to admit. 😁

[2017-03-15 15:04] ghost opened #369 "Error Annotation Table in Linter 2.0"
Many thanks for all your work on the UI!

After the atom linter got updated to ver. 2 the status bar annotation was changed to a table with three numbers. The colors of the small boxes and fonts are taken from the UI and I was wondering if it would be possible to modify them so there are a bit easier to read and look cleaner? Thanks in advance for considering this.

![screenshot from 2017-03-15 23

[2017-03-15 15:54] silvestreh commented on #369
I'll take a look. I'm focusing on the 2.0 branch, but that will require Atom 1.17 (currently not even in Beta)

[2017-03-16 01:40] JLCCI commented on #369
Great, many people are using the linter package so I am sure it would be really appreciated. Keep up the good work.

[2017-03-16 10:15] Karmaliu opened #370 "rror: Cannot find module 'tinycolor2' at Module._resolveFilename (module.js:336:15)"
[Short description of problem here]

**Reproduction Steps:**

1. [First Step]
2. [Second Step]
3. [Other Steps...]

**Expected behavior:**

[Describe expected behavior here]

**Observed behavior:**

[Describe observed behavior here]

**Screenshots and GIFs**

![Screenshots and GIFs which follow reproduction steps to demonstrate the problem](url)

**Atom version:** [Enter Atom version here]
**OS an

[2017-03-16 18:57] silvestreh commented on #370
Please, search the closed issues before opening a new one. This has been answered quite a few times already.

For some reason, APM fails to install the required dependencies. Open a terminal and…

[code]

Or, just reinstall from within Atom.

[2017-03-16 18:57] #370 closed

[2017-03-17 15:17] jimmyff commented on #339
Will you accept a pull request if I fix it?

[2017-03-17 18:23] silvestreh commented on #339
Absolutely! As I mentioned in other issues, I'm focusing on the 2.0 branch for now. I'll release it alongside Atom 1.17

[2017-03-19 12:08] Hikari9 opened #371 "Paint text editor's cursor not working on Linux"
The cursor color and even the line number color don't seem to reflect changes made to the primary/accent colors in the settings, at least in my Ubuntu 16.04 LTS. The "Paint text editor's cursor" is ticked, but the cursor is always ![#009688](https://placehold.it/15/009688/000000?text=+) `Teal` for some reason, even after I restarted Atom. I think this also applies to the other Linux distros, but p

[2017-03-19 17:13] silvestreh commented on #371
That's odd, it's working on my end. Atom `1.13` introduced some breaking changes with syntax themes that could be producing this behavior. Could you upgrade your Atom editor?

[2017-03-20 12:16] jimmyff commented on #339
Ah, didn't realise you were working on an entirely new version. I'll just use a different theme until the 2.0 version lands along with Atom 1.17!

[2017-03-20 12:16] #339 closed

[2017-03-21 18:25] silvestreh commented on #365
I can't reproduce this :-/

[2017-03-21 18:46] silvestreh commented on #320
Nuclide is _**much**_ better in the `2.0` branch. I'm kinda waiting for Atom `1.17` to hit before I release the latest Material UI because of the updated LESS version which supports optional imports.

Every package is better in the `2.0` branch because I'm no longer fighting against Bootstrap; I'm trying to embrace it and stop doing things _my_ way. Things will be much smoother.

Here's what Nucli

[2017-03-22 08:27] fuzuyx commented on #362
yea, am interested

[2017-03-22 19:39] afishr opened #373 "Link to redisigned Atom icon on dropbox don't work"
I just get 404 error when I follow the link to Atom icon on dropbox.
Please, reupload the archive with those beautiful icons.

[2017-03-23 00:49] silvestreh commented on #373
You're right! I don't know how, but the old link expired or something 😕 … Here's the new one: https://www.dropbox.com/s/8gyn40sw95626dx/Atom-MD-Icon.zip?dl=0 (also updated in the README file)

[2017-03-23 00:49] #373 closed

[2017-03-24 13:52] Hikari9 commented on #371
It works now. Just needed to update Atom like you said. Thanks, @silvestreh.

[2017-03-24 13:52] #371 closed

[2017-03-24 21:08] niccolomineo opened #374 "Main bar's title shows up too dark"
Main bar's title shows up with a dark colour, making it nearly impossible to read.

**Reproduction Steps:**

1. Open Atom's Preferences panel
2. Select the "Core" tab
3. Enable "Use Custom Title Bar"

**Expected behavior:**

Main bar's title should be of a lighter color (e.g. the one showing up when the window is out of focus).

**Observed behavior:**

Main bar's title appears black

**Screenshots

[2017-03-25 10:38] davidbarredo opened #375 "Finding with options out of the header container"
Finding with options out of the header container

**Reproduction Steps:**

1. Open Atom editor
2. Press `CMD + F`

**Expected behavior:**
The options in the finding header should be inside it

**Observed behavior:**
The options (floated) are outside the header

**Screenshots and GIFs**
<img width="759" alt="screen shot 2017-03-25 at 11 32 11" src="https://cloud.githubusercontent.com/assets/657206/

[2017-04-07 02:25] bcotrim commented on #365
Same behaviour here.

Atom 1.15.0
MacOS Sierra 10.12.4

http://imgur.com/kghh9LJ

[2017-04-07 02:46] silvestreh commented on #365
@bcotrim do you have any packages in common with @AtomicCoding?

[2017-04-07 02:53] bcotrim commented on #365
common packages:
- file-icons
- intentions
- javascript-snippets
- linter

[2017-04-07 02:58] silvestreh commented on #365
cool! that narrows things down. thanks! I'll take a look 😃

[2017-04-07 23:23] tumido commented on #359
Let's wait what @silvestreh will show us when the sneaky 2.0 branch is merged and released. ;) I was wondering, when I was reading the 1.14 Atom release notes, why this list is not showing up for me, so I found your ticket and investigated the issue. This is a workaround, I've been able to come up with:

1. Open the `lib/tabs-settings.js` file (located in this package sources in `.atom/packages/at

[2017-04-08 01:47] silvestreh commented on #359
It's on the `2.0` branch, but requires Atom 1.17 (unfortunately, not even in the Beta channel)

<img width="1440" alt="captura de pantalla 2017-04-07 a las 22 45 56" src="https://cloud.githubusercontent.com/assets/1133339/24824570/0136c29a-1be4-11e7-9f1e-a64db86c17d5.png">

I'll leave this issue open!

[2017-04-13 02:32] pingshunhuangalex opened #376 "Big UI change in Atom 1.17.0-beta0"
The coming `Atom 1.17.0-beta0` introduced a lot of things in UI which breaks the theme in many aspects. The most noticeable one is the `panel contrasting` stops working and there is an obvious black line between tree view and workspace in tab section.

![image](https://cloud.githubusercontent.com/assets/17170199/24987815/42ca7f16-2045-11e7-9d59-b58fe17ae239.png)

The latest version also introduced

[2017-04-13 02:55] silvestreh commented on #376
Thanks for the heads up! I'm targeting Atom 1.17 in the `2.0` branch… I'll pull the latest changes from Atom's repo and rebuild 👍

[2017-04-13 07:59] simonepri commented on #376
Also the scroll of the tree-view does not work anymore in `Atom 1.17.0-beta0`

[2017-04-13 10:03] takeontom opened #377 "No visual feedback on where exactly to click to close a tab"
It's difficult to know where exactly to click on a tab to close it.

**Reproduction Steps:**

1. Open a file in Atom
2. Place your mouse on the left hand side of the file's tab
3. Move your mouse gradually closer to the tab's `x` icon, clicking continuously, and try to guess when your click will actually close the tab.

**Expected behavior:**

I'd expect one, some or all of these to happen:

* The

[2017-04-13 17:05] silvestreh commented on #376
@simonepri what do you mean by _the scroll_?

[2017-04-13 17:13] pingshunhuangalex commented on #376
@silvestreh
It means if the content is longer than the height of the tree view, there will be no scroll bar shown, nor does it respond to mouse wheel for scrolling.

Can confirm this on my end too, and it works on Atom's default theme, so it should be related to `atom-material-ui`

[2017-04-13 17:27] silvestreh commented on #376
Oh, it's absolutely broken then! That's odd because I don't remember messing with the scroll behavior… Anyway, it seems to be working just fine on the `2.0` branch.

[2017-04-13 17:30] pingshunhuangalex commented on #376
@silvestreh
I'm really looking forward to 2.0, so I'll just need to wait for the official 1.17.0 to come right?
I heard `material-ui` will be compatible with `nuclide` in 2.0. Am I right?

[2017-04-13 17:33] silvestreh commented on #376
@pingshunhuangalex yeah! 2.0 will be 99% less awkward with all packages. 😄

[2017-04-13 18:27] simonepri commented on #376
@silvestreh Could you publish on `apm` a **beta** version of the `2.0` branch ?

[2017-04-13 18:41] silvestreh commented on #376
@simonepri I don't think I can publish beta versions to APM.

[2017-04-13 18:43] silvestreh commented on #376
This is fixed in 736a966bdce11108c24f38d78bd10900da51ac09. I'll leave the issue open for visibility while 2.0 remains unreleased.

[2017-04-14 08:26] Evpok commented on #376
Any ETA for 2.0 ?

[2017-04-14 11:14] hirenkeraliya opened #378 "Use the `atom-text-editor` tag instead of the `editor` class."
In index.less: Use the `atom-text-editor` tag instead of the `editor` class.

[2017-04-14 11:14] hirenkeraliya opened #379 "Style elements within text editors using the `atom-text-editor::shadow` selector or the `.atom-text-editor.less` file extension.If you want to target overlay elements, target them directly or as descendants of `atom-overlay` elements."
In index.less: Style elements within text editors using the `atom-text-editor::shadow` selector or the `.atom-text-editor.less` file extension.
If you want to target overlay elements, target them directly or as descendants of `atom-overlay` elements.

[2017-04-14 15:59] silvestreh commented on #376
@Evpok as soon as Atom 1.17 becomes the latest stable

[2017-04-14 16:24] aemino commented on #376
Suggestion for people who don't want to disable the theme while they wait... You can hackishly install 2.0 by cloning the repository into `.atom/packages`, using `git checkout 2.0` in the repository directory, and then relaunching Atom.

However, this has some... strange side effects.
![image](https://cloud.githubusercontent.com/assets/13167687/25048981/36e1cb14-20f4-11e7-99c2-40ef665979ea.png)

[2017-04-14 19:29] rwatts3 commented on #376
btw 2.0 is absolutely amazing, very happy to see this in development.

[2017-04-15 14:53] Evpok commented on #376
@silvestreh Could you make a pre-release for 1.17-beta users ?

[2017-04-15 16:31] silvestreh commented on #376
@Evpok you can clone the repo and link it as a package.

[code]

[2017-04-16 13:27] bcotrim commented on #365
Was doing some more research on this and found the cause/workaround for it.
Seems to be completely unrelated to atom-material-ui.

https://github.com/atom/atom/issues/12634

[2017-04-18 11:56] carrodher opened #381 "Failed to activate the atom-material-ui package"
Following this issue https://github.com/atom-material/atom-material-ui/issues/376 and after trying the development branch (2.0) I obtain this issue.

**Atom**: 1.17.0-beta2 x64
**Electron**: 1.3.14
**OS**: Mac OS X 10.12.4
**Thrown From**: [atom-material-ui](https://github.com/silvestreh/atom-material-ui) package 1.3.9

### Stack Trace

Failed to activate the atom-material-ui package

[code]

###

[2017-04-18 15:28] silvestreh commented on #381
This keeps popping every once in a while. For some obscure (at least to me) reason, APM will fail to install the theme's dependencies.

You can either…
1. Install the missing dependencies manually
    - `cd ~/.atom/packages/atom-material-ui && npm install`
2. Uninstall and install the theme from within Atom

Let me know if that works

[2017-04-18 15:50] carrodher commented on #381
Yes, it works, thanks. The issue was solved.

[2017-04-18 15:50] #381 closed

[2017-04-19 00:42] alexbuzzbee commented on #376
@silvestreh Didn't work with SSH; seems to over HTTPS. Odd.

[2017-04-22 05:14] LaMaravish opened #382 "Uncaught Error: Cannot find module 'tinycolor2'"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.16.0 x64
**Electron**: 1.3.13
**OS**: Unknown Windows version
**Thrown From**: [atom-material-ui](https://github.com/silvestreh/atom-material-ui) package 1.3.9

### Stack Trace

Uncaught Error: Cannot find module 'tinycolor2'

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-04-22 11:41] hirenkeraliya opened #383 "Style elements within text editors using the `atom-text-editor::shadow` selector or the `.atom-text-editor.less` file extension.If you want to target overlay elements, target them directly or as descendants of `atom-overlay` elements."
In index.less: Style elements within text editors using the `atom-text-editor::shadow` selector or the `.atom-text-editor.less` file extension.
If you want to target overlay elements, target them directly or as descendants of `atom-overlay` elements.

[2017-04-22 17:25] ganpt opened #384 "Unable to install any package/theme"
apm install atom-material-ui
Installing atom-material-ui to /home/ganpat/.atom/packages Unable to download https://www.atom.io/api/packages/atom-material-ui/versions/1.3.9/tarball: socket hang up

**Atom version:** 1.16.0
**OS and version:** Ubuntu 14.04 (64 bit)

[2017-04-22 17:41] #384 closed

[2017-04-23 15:36] silvestreh commented on #382
Uninstall and reinstall. Please search through closed issues, this pops up like once a week 😁. For some reason APM doesn't install the package's dependencies.

[2017-04-23 15:36] #382 closed

[2017-04-26 01:33] #358 closed

[2017-04-26 23:56] bearcott opened #385 "reduce padding"
can reduce or at least have a setting to reduce padding on.. everything?

I can see 20 items in the tree view when I normally can see 50. Tabs are more congested, my settings view is now magnified.

I don't understand how such a large amount of people are using this package when the spacing is so awful.

[2017-04-27 04:09] JGH1000 commented on #369
+1

The font color depends on accent it seems. Also a different color for the small boxes would be nice (or no boxes at all would be even better).

![screenshot from 2017-04-27 13-09-07](https://cloud.githubusercontent.com/assets/27884805/25467653/a6d66e24-2b4a-11e7-84e2-93dab86838aa.png)

[2017-04-27 17:21] silvestreh commented on #385
You can make the tree-view more compact within the theme's settings. I'm working on 2.0 which will be compact by default.

[2017-04-27 17:33] silvestreh commented on #369
This is what it looks like in the `2.0` branch.

<img width="71" alt="captura de pantalla 2017-04-27 a la s 14 30 19" src="https://cloud.githubusercontent.com/assets/1133339/25496101/1b412046-2b56-11e7-9d44-25d44009aa9e.png">

I'm not making color adjustments specifically for linter, so it'll pick up the theme's variables.

[2017-04-27 17:41] silvestreh commented on #369
Turns out it didn't look quite alright with a light syntax theme, so I ended up touching the colors a bit in the end… here's what it'll look like when Atom 1.17 hits!

<img width="72" alt="captura de pantalla 2017-04-27 a la s 14 40 15" src="https://cloud.githubusercontent.com/assets/1133339/25496492/9045d50c-2b57-11e7-858a-da36ee4b5855.png"> <img width="67" alt="captura de pantalla 2017-04-27 a l

[2017-04-27 21:38] Arcanemagus commented on #369
@silvestreh If there are things that should be fixed in `linter-ui-default` instead of here feel free to file issues. I know @steelbrain isn't a UI guy, and I don't really know it either, so I'm sure there are things that are being done wrong there 😉.

[2017-04-28 02:10] silvestreh commented on #369
@Arcanemagus Material UI was to blame for this one in particular (looks just fine on One Light/Dark). But yeah, I'll sure file an issue or send a PR if I find something off in `linter-ui-default` :)

[2017-04-29 21:21] daftscience commented on #385
I agree with @silvestreh, the compact tree view does help. And so does decreasing the UI font size.

I can't figure out how to fix the spacing in forms and panels though.

![capture](https://cloud.githubusercontent.com/assets/2718662/25558974/4f2a5a9c-2cf7-11e7-9b07-854e74b51288.PNG)

I have to tab to reach the things at the bottom.

[2017-04-29 22:31] silvestreh commented on #385
@daftscience which package provides that UI so I can take a look?

[2017-04-29 22:46] daftscience commented on #385
It's this one: [remote-sync](https://atom.io/packages/remote-sync)

[2017-05-01 22:23] manoskav commented on #385
Hello,
There is similar problem with Platformio. The size of buttons and selections are abnormally huge.
![screenshot_1](https://cloud.githubusercontent.com/assets/22129821/25597159/e9146fa0-2ed5-11e7-92cf-913eaa349ff5.png)

[2017-05-01 23:02] silvestreh commented on #385
@manoskav yeah, that one's fixed in `2.0`.

[2017-05-04 00:37] pingshunhuangalex opened #386 "Tree View Related Settings Not Working for Material UI 2.0"
Congratulations on releasing `Material UI 2.0` prior to the official release of `Atom 1.17.0`. Absolutely amazing and definitely fresh sight for sore eyes.

The first thing I noticed is that my tree view items now occupy a much bigger space with a significantly bigger margin. I thought may be the `compact list` setting is reset. However, playing around the settings make me realise the tree view re

[2017-05-04 01:55] pingshunhuangalex opened #387 "Redundant Horizontal Scroll Bar in Command Palette"
Me again. Possible horizontal scroll bar issue in Atom Command Palette

**Reproduction Steps:**

1. Update to `Material UI 2.0`
2. Fire up Atom command palette
3. There is an unnecessary horizontal scroll bar there

**Expected behavior:**

There shouldn't be any horizontal scroll bar there. The content should be bound within the palette

**Observed behavior:**

There is some blank space at the end

[2017-05-04 03:44] silvestreh commented on #386
Tree view settings are removed. You're seeing settings for old stuff because they remain in your user config.

[2017-05-04 03:44] #386 closed

[2017-05-04 03:46] silvestreh commented on #387
Thanks! I'll try using always visible scrollbars.

[2017-05-04 03:48] pingshunhuangalex commented on #386
Thanks @silvestreh
Will you be able to adjust the item margin just for the tree view or it's just designed this way?

[2017-05-04 03:49] silvestreh commented on #386
@pingshunhuangalex do you mean the white space to the left of children items?

[2017-05-04 03:53] pingshunhuangalex commented on #386
No, I mean the space between 2 items as pointed in the image below
![image](https://cloud.githubusercontent.com/assets/17170199/25690057/d0407030-30d0-11e7-8c27-6bdb6f7cdeff.png)
I remembered the previous compact list option is more compact and can fit more stuff in my screen, but if it's not an easy fix, I'm ok with it too as long as it's not a bug.

[2017-05-04 03:56] silvestreh commented on #386
Yeah, it's not a bug. I'm actually going for the compact look by default. Might not be as compact as before though.

[2017-05-04 03:57] pingshunhuangalex commented on #386
Cool, that's all I need to know then. Maybe time for a new screen :)

[2017-05-04 17:07] Arcanemagus opened #388 "Debugging text printed to console"
Some debugging text is printed to the console.

**Reproduction Steps:**

1. Start Atom with this theme active.
2. Open the developer tools and check the Console.

**Expected behavior:**

Nothing printed to the console when running Atom normally.

**Observed behavior:**

Some debugging text is printed to the console. Perhaps this should be wrapped in a check on [`atom.inDevMode()`](https://atom.io/

[2017-05-04 17:14] silvestreh commented on #388
Yeah, I completely forgot about it 😅 … I *think* I already removed those logs in my local copy.

[2017-05-04 17:38] silvestreh commented on #387
I can't seem reproduce this 😕 …

<img width="533" alt="captura de pantalla 2017-05-04 a la s 14 37 36" src="https://cloud.githubusercontent.com/assets/1133339/25716947/520c507e-30d7-11e7-89e0-bd885775af3c.png">

I'll try installing some of your packages and see if one triggers this behavior.

[2017-05-04 17:50] silvestreh commented on #387
@pingshunhuangalex isn't there an action in the command palette with a really long name causing it to overflow?

[2017-05-04 18:12] Arcanemagus commented on #388
Closing since it's fixed in the repo then 😉.

[2017-05-04 18:12] #388 closed

[2017-05-04 18:36] silvestreh commented on #387
Finally managed to reproduce it! It's being caused by [open-recent](https://atom.io/packages/open-recent)

<img width="541" alt="captura de pantalla 2017-05-04 a la s 15 26 34" src="https://cloud.githubusercontent.com/assets/1133339/25718911/18600b16-30de-11e7-8b61-8dc931988336.png">

Fix is coming! (though the package's author should take a look as well)

[2017-05-04 18:38] #387 closed

[2017-05-04 18:39] silvestreh commented on #387
It's fixed now. I'll publish an updated package soon!

<img width="552" alt="captura de pantalla 2017-05-04 a la s 15 39 16" src="https://cloud.githubusercontent.com/assets/1133339/25719452/e4e385e0-30df-11e7-980c-73021ccc9e09.png">

[2017-05-04 18:48] silvestreh commented on #385
@daftscience for some reason I can't bring up that UI using `remote-sync`… are there any extra non-obvious steps that I should take?

[2017-05-04 18:51] silvestreh commented on #378
This is fixed in `2.0` which you can try by installing Atom 1.17-beta!

[2017-05-04 18:51] #378 closed

[2017-05-04 18:51] silvestreh commented on #377
This is fixed in `2.0` available for Atom 1.17-beta.

[2017-05-04 18:51] #377 closed

[2017-05-04 18:52] silvestreh commented on #376
`2.0` is available for Atom 1.17-beta users. Upgrade and flood the issue tracker! 😆

[2017-05-04 18:52] #376 closed

[2017-05-04 18:54] silvestreh commented on #375
This is fixed in `2.0` available for Atom 1.17-beta.

<img width="499" alt="captura de pantalla 2017-05-04 a la s 15 53 23" src="https://cloud.githubusercontent.com/assets/1133339/25720048/dc5b6e2c-30e1-11e7-8afe-771d8753bc2d.png">

Falls to the next line just before colliding

<img width="439" alt="captura de pantalla 2017-05-04 a la s 15 53 35" src="https://cloud.githubusercontent.com/assets/113

[2017-05-04 18:54] #375 closed

[2017-05-04 18:54] silvestreh commented on #369
This is fixed in `2.0` available for Atom 1.17-beta.

[2017-05-04 18:54] #369 closed

[2017-05-04 18:55] silvestreh commented on #374
This is fixed in `2.0` available for Atom 1.17-beta.

[2017-05-04 18:55] #374 closed

[2017-05-04 18:55] silvestreh commented on #367
This is fixed in `2.0` available for Atom 1.17-beta. No more special styles for Nuclide, it works out of the box! 🎉

[2017-05-04 18:55] #367 closed

[2017-05-04 18:58] silvestreh commented on #361
This is fixed in `2.0` which is available for Atom 1.17-beta users.

[2017-05-04 18:58] #361 closed

[2017-05-04 18:59] silvestreh commented on #359
This is fixed in `2.0` which is available for Atom 1.17-beta users.

[2017-05-04 18:59] #359 closed

[2017-05-04 19:00] silvestreh commented on #356
This is fixed in `2.0` which is available for Atom 1.17-beta users.

[2017-05-04 19:00] #356 closed

[2017-05-04 19:05] silvestreh commented on #226
Material UI `2.0` is much more compatible with third party packages. Give it a spin! It's out for Atom 1.17-beta users.

[2017-05-04 19:05] #226 closed

[2017-05-04 19:06] silvestreh commented on #231
@jamby it's been a long time, but if you could try Material UI `2.0` on Atom 1.17-beta I'd appreciate it (or … we could just wait a little longer 'til `1.17` hits the stable channel)

[2017-05-04 19:08] silvestreh commented on #355
This is fixed in Material UI `2.0`. It's available for Atom 1.17-beta users!

[2017-05-04 19:08] #355 closed

[2017-05-04 19:08] silvestreh commented on #354
This is fixed in Material UI `2.0`. It's available for Atom 1.17-beta users!

[2017-05-04 19:08] #354 closed

[2017-05-04 19:10] silvestreh commented on #352
This is fixed in Material UI `2.0`. It's available for Atom 1.17-beta users!

<img width="282" alt="captura de pantalla 2017-05-04 a la s 16 10 15" src="https://cloud.githubusercontent.com/assets/1133339/25720703/3b5e7098-30e4-11e7-9d7d-dd0b8d3467df.png">
<img width="282" alt="captura de pantalla 2017-05-04 a la s 16 10 32" src="https://cloud.githubusercontent.com/assets/1133339/25720704/3b65d4d2-

[2017-05-04 19:10] #352 closed

[2017-05-04 19:19] #344 closed

[2017-05-04 19:21] silvestreh commented on #329
This is likely been fixed in Material UI `2.0`. Would love if you could try it out! (It's for Atom 1.17, so you'll need to install Atom-beta)

[2017-05-04 19:23] silvestreh commented on #327
Should be better in Material UI 2.0.

<img width="1160" alt="captura de pantalla 2017-05-04 a la s 16 23 24" src="https://cloud.githubusercontent.com/assets/1133339/25721211/068e6ac4-30e6-11e7-9966-b53ee414089a.png">

[2017-05-04 19:23] #327 closed

[2017-05-04 19:29] silvestreh commented on #325
Hmmm… It's been a while and now that I take a second look it seems that you're trying to override the syntax theme's colors.

First off, this might be the wrong repository, but that's not important. If you want to override the syntax theme you should wrap all your selectors inside an `atom-text-editor` selector. Something like:

[code]

[2017-05-04 19:29] #325 closed

[2017-05-04 19:32] silvestreh commented on #316
Sorry it took this long, but it sounds like an issue with `settings-view`.

[2017-05-04 19:32] #316 closed

[2017-05-04 19:36] silvestreh commented on #360
This is fixed in Material UI `2.0` (available for Atom 1.17-beta). Upon restarting Atom all opened windows get the latest color (and all windows update the colors when changing from one)

[2017-05-04 19:36] #360 closed

[2017-05-04 19:37] silvestreh commented on #243
Material UI `2.0` is available for Atom 1.17-beta (rewrote the entire thing.) Let me know if this is resolved.

[2017-05-04 19:38] silvestreh commented on #320
Fixed in Material UI `2.0` (available for Atom 1.17-beta)

[2017-05-04 19:38] #320 closed

[2017-05-04 19:40] silvestreh commented on #296
This _might be_ fixed in Material UI `2.0` (available for Atom 1.17-beta)

[2017-05-04 19:41] silvestreh commented on #383
This is fixed in Material UI `2.0` (available for Atom 1.17-beta)

[2017-05-04 19:41] #383 closed

[2017-05-04 19:41] silvestreh commented on #379
This is fixed in Material UI `2.0` (available for Atom 1.17-beta)

[2017-05-04 19:41] #379 closed

[2017-05-04 20:01] daftscience commented on #385
@silvestreh yeah, if you right click on a folder and select "Remote Sync" -> "Configure."

[2017-05-04 20:11] silvestreh commented on #385
Yeah, I'm not seeing that 😕

<img width="1361" alt="captura de pantalla 2017-05-04 a la s 17 10 49" src="https://cloud.githubusercontent.com/assets/1133339/25723008/b01cf8ac-30ec-11e7-9cb6-02b5b0fbcc46.png">

[2017-05-04 20:15] silvestreh commented on #385
Looks like it might not support Atom 1.17 yet …

[2017-05-04 23:46] pingshunhuangalex commented on #387
Thanks so much @silvestreh
It seems a lot has happened while I was sleeping. Sorry for all these troubles cuz I didn't realise it was caused by long names or open recent as in my screenshot, commands are all short and sweet. Thanks again for going through all the troubles for me as I should be the one narrow things down for you.

Thanks again and look forward to the updates.

[2017-05-04 23:59] pingshunhuangalex opened #389 "Use Primary/Accent color for button background"
**Reproduction Steps:**

1. Update to `Material UI 2.0`
2. Update packages or do something to trigger notifications with buttons
3. Button background is the same as notification background which needs more contrast

**Expected behavior:**

Button background should have more contrast to notification background

**Observed behavior:**

Button background is the same as notification background, and if

[2017-05-05 00:05] pingshunhuangalex commented on #387
Now it seems long text are now wrapped unnaturally somehow. (I know it looks all fine in your screenshot)
![image](https://cloud.githubusercontent.com/assets/17170199/25729656/1b1d5434-317a-11e7-81f0-21fbf32347d4.png)
Maybe try adding `white-space: nowrap;` to `[data-event-name*="open-recent:"]` so ellipsis can kick in. If still no luck, then I'll uninstall `open-recent`. It's not an essential one

[2017-05-05 00:07] silvestreh commented on #389
Your background is nearly black (`#141414`). Now that you bring this up I realize I'm not yet done with buttons. Ideally, they'll receive the theme's primary color if they're primary buttons (`btn-primary` I think was the className), otherwise they should match the background color.

[2017-05-05 00:08] silvestreh commented on #387
Nono, no need to uninstall. I'll add `white-space: nowrap;` so you don't lose functionality!

[2017-05-05 00:09] pingshunhuangalex commented on #387
Sorry @silvestreh I just modified my thread above. Adding white-space doesn't work. It must be something else that's triggering the issue

[2017-05-05 00:11] silvestreh commented on #387
That's odd… I'll boot up my old Windows machine and see if I can reproduce this!

[2017-05-05 00:16] pingshunhuangalex commented on #389
Cool. I thought the background is just `material-ui-dark` background right? I didn't customise background using CSS on my own. Anyway, using primary color would be nice, or using accent color like what we had in 1.x is also fine.

Don't forget to check the shadow when the button is hovered over. I think I saw a thin black border outside the hovered shadow which may be a bug.

[2017-05-05 00:18] daftscience commented on #385
Strange. At any rate, it's not much more than a mild inconvenience at this point. I just thought I'd point it out since the issue was open.

[2017-05-05 00:48] pingshunhuangalex commented on #389
The theme doesn't seem to cover the Package rebuild section (div with class `incompatible-package`).
![image](https://cloud.githubusercontent.com/assets/17170199/25730458/4872f4d8-3180-11e7-9366-31f34ff4af1c.png)

[2017-05-05 04:59] pingshunhuangalex commented on #387
Hi @silvestreh
I fixed the problem by changing the style you added in the previous update to:
[code]
If this also works in mac, feel free to apply. Thanks.

[2017-05-05 21:07] jeffdupont opened #390 "UI color does not stay, reverts to default after update"
1.3.10

I have set the theme to use the predefined colors "Blue". After package update, color returns to "Teal". Value in the settings remains set to "Blue" and the Primary color show the correct blue set.

[2017-05-06 01:52] silvestreh commented on #390
Looks like you have a dupe of #243 on your hands. If you're willing to update to Atom 1.17-beta, you can also update to Material UI 2.0 where this should be fixed.

[2017-05-06 01:52] #390 closed

[2017-05-08 18:58] eminos commented on #349
It seems the icon colors are lost on 2.0, even without Tinted tab bar.

[2017-05-10 02:44] haykam821 opened #391 "The theme shows black text on a gray background with the Markdown Preview package."
Like the title says, whenever I use the GitHub-flavored Markdown preview style alongside the Material UI theme, there is a black font on a gray background.

**Reproduction Steps:**

1. Download the Markdown Preview (`markdown-preview`) package from Atom
2. Enable 'Use GitHub.com style' in the package's settings
3. Create a Markdown document that has any table in it.
4. Open the Markdown Preview's

[2017-05-10 17:58] silvestreh commented on #391
It's fixed in Material UI `2.0` (only available for Atom 1.17 which is still in beta) 😃

[2017-05-10 17:58] #391 closed

[2017-05-11 23:32] Log1x opened #392 "Dropbox link for icon is 404"
Dropbox link for icon is dead.

**Reproduction Steps:**

1. Go to https://dl.dropboxusercontent.com/u/115930/Atom-MD-Icon.zip
2. 404 - File not found

[2017-05-12 01:30] silvestreh commented on #392
Seems to be happening from time to time… It's on https://www.dropbox.com/s/8gyn40sw95626dx/Atom-MD-Icon.zip?dl=0 … I'll update the README.

[2017-05-12 01:31] #392 closed

[2017-05-15 20:32] Arcanemagus opened #393 "Linter gutter dots half hidden"
The gutter dots from `linter-ui-default` are half hidden.

**Reproduction Steps:**

1. Install `linter-ui-default` and a provider, get a lint error.

**Expected behavior:**

Linter gutter icons show fully.

**Observed behavior:**

Linter gutter icons are half hidden.

For some reason the width is being calculated at 23 pixels, while all other themes calculated them to 12 pixels. If I manually spec

[2017-05-16 21:30] primalmotion opened #394 "Tree View Compact List Option has no effect"
Option Tree View Compact List has no effect

**Reproduction Steps:**

1. Check Tree View Compact
2. Realize that nothing happens
3. Be sad

**Expected behavior:**

Tree view should be compacted

**Observed behavior:**

Tree view is not compacted

[code]

**OS and version:** macOS 10.12.5

**Installed packages:**

[code]

[2017-05-16 22:32] willejos commented on #394
Tree view also does not toggle via "View->Toggle Tree View" or hotkey "command+\"

[2017-05-16 22:38] willejos opened #395 "Toggle Tree View does not work"
Tree View does not toggle via View->Toggle Tree View or by using hotkey command+\

**Reproduction Steps:**

1. Click View -> Toggle Tree View or use hotkey to expand/hide

**Expected behavior:**

Tree view should toggle show or hide depending on current state

**Observed behavior:**

Nothing happens

**Atom version:**

Atom    : 1.17.0
Electron: 1.3.15
Chrome  : 52.0.2743.82
Node    : 6.5.0

**OS

[2017-05-16 22:45] willejos commented on #395
Issue persists with other themes so this is actually probably something with the latest atom update or a different plugin.

[2017-05-16 22:45] #395 closed

[2017-05-16 23:10] JayXon opened #396 "tab without focus too dark hard to see"
After updated to 2.0, the text on the tab became hard to see and the icon has no color.

**Reproduction Steps:**

1. disable tinted tab bar

**Expected behavior:**

able to see tab text clearly, icon has color

**Observed behavior:**

hard to see, icon has no color

**Screenshots and GIFs**

![screenshot from 2017-05-16 16 00 59](https://cloud.githubusercontent.com/assets/1552641/26131809/19b423ae

[2017-05-16 23:10] #351 closed

[2017-05-17 00:33] silvestreh commented on #394
Yep, it's compact by default… I just forgot to kill the option.

[2017-05-17 00:39] primalmotion commented on #394
<img width="246" alt="screen shot 2017-05-16 at 17 38 46" src="https://cloud.githubusercontent.com/assets/208711/26133768/879b185c-3a5e-11e7-9039-63026ee9f44d.png">

it doesn't like compact to me :/

[2017-05-17 06:32] alutman commented on #394
Here's a less snippet hack to stick into `styles.less` to make the tree actually compact.
[code]

As it is, I find the default tree has way too much padding.

[2017-05-17 07:37] johanvanhelden commented on #394
@silvestreh Hmm, if that is compact, I would very much like to see a super-compact option.

[2017-05-17 08:27] ooJerryLeeoo opened #397 "The autocomplete-plus icon color is weird."
It should look like this:

![screen shot 2017-05-17 at 19 11 41](https://cloud.githubusercontent.com/assets/20783502/26151324/e4639812-3b34-11e7-8cc4-b947dc01a9c1.png)

But, this is what actually look like:

![screen shot 2017-05-17 at 19 12 40](https://cloud.githubusercontent.com/assets/20783502/26151330/ecece344-3b34-11e7-83da-2da8d74eb95f.png)

[2017-05-17 11:12] MaciejJanyska opened #398 "Changed file has no coloured indicator."
**Expected behavior:**

In my opinion indicator should have the same color as primary color in settings. Just like it was before.

**Screenshots and GIFs**

![image](https://cloud.githubusercontent.com/assets/1210486/26151248/3aa0f464-3b02-11e7-835b-330c63d920ad.png)

[2017-05-17 12:43] doryphores commented on #349
@silvestreh This line [here](https://github.com/atom-material/atom-material-ui/blob/2.0/styles/tabs.less#L191) overrides tab icon colors regardless of tinted tab use.

[2017-05-17 15:16] chrisxclash commented on #394
Yeah, I noticed this option stopped working and things weren't as compact as they used to be before. I snuck back into `v1.3.9` and stole some of the compact styles from there and tweaked based on what @alutman had.

I mainly modified the left/right horizontal padding to not be so spaced out.

[code]
I was a huge fan of the original compact setting though.

[2017-05-17 15:43] jamby opened #399 "Horizontal scroll of tree is partially unclickable and not highlighted from the UI"
Horizontal scroll of tree is partially unclickable and not highlighted from the UI

**Reproduction Steps:**

1. Create a few folders that will make a horizontal scroll inside the project
2. Select one of the deeply nested folders/files
3. Observe how it is unable to be clicked on at a certain point and the highlight is not covering the full length of the file

**Expected behavior:**

Should be abl

[2017-05-17 18:32] montanaflynn commented on #335
Any update on this? It's now May 2017 and I just upgraded to Sierra and now this is happening.

I even tried starting atom with `--disable-gpu` as suggested and that made no difference.

<img width="1071" alt="screen shot 2017-05-17 at 11 31 39 am" src="https://cloud.githubusercontent.com/assets/24260/26169967/7d9d2156-3af4-11e7-9dd9-d2ec4031648d.png">

[2017-05-17 18:37] montanaflynn commented on #335
Here's an open issue on the main atom repo that has more updates. They actually suggest using the flag ` atom --enable-gpu-rasterization` but that didn't work for me on my external display.

`https://github.com/atom/atom/issues/12634`

[2017-05-17 18:54] silvestreh commented on #335
@montanaflynn it's technically not an issue with the theme, but with Electron

[2017-05-17 19:51] jamby opened #400 "Search results don't keep specified color when highlighting file"
When inside search results from searching for something, the highlight of a file name does not keep the specified color (in my case, Orange).

**Reproduction Steps:**

1. Have a non-default color for your Atom Material UI
2. Search for something in the project
3. Project Find Results page should show up with multiple files
4. Highlight a file by clicking on it (may close the results for that file,

[2017-05-17 20:33] FNGR2911 commented on #394
Can't work with that "compact tree" on a normal MacBook.

[2017-05-17 23:50] pingshunhuangalex opened #402 "Theme related issue on new linter tooltips"
Hi @silvestreh
I was just told that there is a theme related issue on new linter tooltips as you can see in the screenshot below.

![image](https://cloud.githubusercontent.com/assets/17170199/26180835/38bf760e-3baf-11e7-8498-b7a105afc0e1.png)

It can be fixed using `@background-color-highlight` as the tooltip background color, so it won't show up as transparent, as explained in [steelbrain/linter-

[2017-05-18 03:04] frankn11 commented on #394
Got the same problem since I updated to the latest version.

[2017-05-18 10:18] suprMax commented on #394
Same. That plus the new "killer" docks feature made the editor unusable

[2017-05-18 10:52] sanada01 opened #403 "Settings bug"
"Tree view compact list" checkbox does not work.

Atom version: 1.17.0

[2017-05-18 10:59] konstantin24121 commented on #403
@sanada01 Dublicate #394

[2017-05-18 11:22] sanada01 commented on #403
Thanks. :) Problem solved.

[2017-05-18 13:23] brandon14 commented on #400
Can confirm this is happening to me too on both Atom 1.17.0 and 1.18.0-beta0 with material-ui 2.0.3.

[2017-05-18 14:06] giolf opened #404 "Tree view issue"
I figure out that problem on my tree view:
![image](https://cloud.githubusercontent.com/assets/6743233/26206167/55bff2b2-3be4-11e7-8508-0545acf93868.png)
it's seem that the highlighted folder or file selection is fixed with the tree-view width.

[2017-05-18 16:09] silvestreh commented on #404
Yeah, I noticed this too. It also happens with default themes (One Dark/Light and Atom Dark/Light) so I didn't give it much thought.

[2017-05-18 16:10] silvestreh commented on #403
Closing in favor of #394

[2017-05-18 16:10] #403 closed

[2017-05-18 16:12] silvestreh commented on #400
Yep, I also noticed it, but since it wasn't breaking anything I decided to live with it while working on other stuff. It seems to be a problem with how the lists are styled. I'll look into it!

[2017-05-18 16:15] silvestreh commented on #394
Alright… looks like you guys really liked this feature! I reduced line height all over the theme in hopes to find a nice "middle ground" … I'll restore it as soon as I get some free time to work on it!

[2017-05-18 16:25] giolf commented on #404
Yes you're complete right ! it happens even with the default template.
(just to give you an idea about i'm fan of your theme):

1.  Setup atom to my new machine
2. Install material theme
3. work

[2017-05-18 16:27] giolf commented on #404
Would be  great if someone could find a temporary solution in the meanwhile of an update from Atom

[2017-05-18 16:35] jamby commented on #400
For sure, it definitely wasn't a "this needs to be fixed now" issue. More of a documentation of it. Since this is rather low priority.

There are much higher priority things to be fixed! I may look into it at some point to fix it myself if I get a chance.

[2017-05-18 16:43] primalmotion commented on #394
I think what would be great is to let people configure line height and left padding

[2017-05-18 17:55] johanvanhelden commented on #394
Reducing the line height would be great, thanks, but it is also the left padding that is just to much. As soon as you have a few nested folders, you do not see them anymore without scrolling horizontally. Reducing the line height would not fix that. That would only solve the vertical scrolling.

[2017-05-19 05:18] Ivorzk opened #405 "List of projects can't scroll"
![qq 20170519131617](https://cloud.githubusercontent.com/assets/7390138/26234195/6e028342-3c95-11e7-8275-3a467f366bf1.jpg)
Project folder sometimes can't scroll to the left of the tree!Can the old version, the new the emergence of the problem!

[2017-05-19 05:59] JGH1000 opened #406 "Super Compact Tab Bar"
Really love the theme.

Is there any chance of even more compact tab bar? I am not sure if this is because I have a HiDPi screen but even the compact one is still very large - not a big deal but would be great if there was an option to make it thinner.

Many thanks for considering this!

[2017-05-19 08:44] btstw opened #407 "atom-text-editor[mini] didn't get correct font size"
font size are smaller than setting

**Reproduction Steps:**

1. Update this package.
2. I notice font size in search bar become smaller than previous version, try go to setting to fix it.
3. When disable this theme font size setting are fine.

**Expected behavior:**

font size should correct in search bar

**Observed behavior:**

font size are setting to 12

**Screenshots and GIFs**

![screenhunte

[2017-05-19 15:01] brandon14 opened #408 "UI Glitch with bottom dock arrow"
The linter-ui-default package adds a dock to the bottom of the page that when expanded,s shows the linter information for the current file. Sometimes when the arrow to expand the dock shows, the will be a black rectangle that shows around the up arrow. I switched the theme back to Atom Dark and was never able to reproduce it, and same with the One Dark theme. It also seems to occur randomly and no

[2017-05-19 15:40] KerenChandran commented on #405
I'm still having this issue. Is someone looking into it?

[2017-05-19 17:13] silvestreh commented on #408
Looks like you found https://github.com/atom/atom/issues/12634.

[2017-05-19 17:13] silvestreh commented on #405
Did you guys update to Material UI 2.0?

[2017-05-19 17:27] brandon14 commented on #408
Yeah it looks like it. I mean it isn't even a big deal but I figured I would post an issue about it in case no one was aware!

[2017-05-19 19:50] KerenChandran commented on #405
OMG that was the issue! Didn't notice there was an update. Sorry about that.

[2017-05-19 20:34] silvestreh commented on #405
No problem 😃 Enjoy the new Material UI! @Ivorzk did updating solve your problem? By the looks of your screenshot it seems you're still on `1.3.x`

[2017-05-21 07:32] jneuendorf opened #409 "Color tooltip in settings"
The tooltip shows `Default: [object Object]` when hovering on the colored squares for primary and secondary color.

**Reproduction Steps:**

1. Open `atom-material-ui`'s settings from Atom -> Settings -> Themes
2. Hover the color squares in the `Colors` section with the mouse cursor.

**Expected behavior:**

The tooltip contains the currently picked color.
It could contain the predefined color nam

[2017-05-21 07:37] jneuendorf opened #410 "Secondary Color (Settings)"
I first thought there was a bug concerning the persistency of the secondary color's value.
This was due to the fact that toggling `Generate complementary secondary color` did not change the secondary color value on the fly.

**Reproduction Steps:**

1. Open `atom-material-ui`'s settings from Atom -> Settings -> Themes
2. Uncheck `Generate complementary secondary color`
3. Change the secondary colo

[2017-05-21 09:27] FNGR2911 commented on #404
@giolf look at this comment: [](https://github.com/atom-material/atom-material-ui/issues/394#issuecomment-302123319)

[2017-05-21 10:36] giolf commented on #404
@FNGR2911 i check that comment ... but they're speaking about another issue related to the compact menu sidebar ... right ?

[2017-05-21 12:41] FNGR2911 commented on #404
@giolf you're right, sorry!

[2017-05-22 05:06] wyqydsyq commented on #410
It appears that this feature is completely broken, having `Generate complementary secondary color` enabled causes the secondary colour to reset to `#FF0000` upon restarting Atom.

[2017-05-22 08:21] willviles commented on #404
+1 on @giolf's issue. Toggling the 'Tree View Compact List' option doesn't work after updating to the latest Atom 1.17.0.

[2017-05-22 16:20] #405 closed

[2017-05-22 16:20] #408 closed